In [1]:
import pandas as pd
import numpy as np

In [2]:
migration_recent = pd.read_excel("../migration/Table 2.2 Permanent additions, 2008–09 to 2016–17_transposed.xlsx")

In [3]:
migration_recent.head()

,country_group,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
0,Oceania & Antarctica,"Australia (includes External Territories), nfd",2278,2289,3113,4113,5582,5292,4869,5668,5425
1,Oceania & Antarctica,Cook Islands,275,156,236,298,331,250,193,192,92
2,Oceania & Antarctica,Fiji,2158,1755,1651,1819,1656,1641,1278,1195,1035
3,Oceania & Antarctica,French Polynesia,17,10,14,10,12,8,14,6,9
4,Oceania & Antarctica,Guam,<5,<5,<5,0,<5,0,<5,<5,0

In [4]:
migration_recent.columns

Index(['country_group', 'country', '2008–09', '2009–10', '2010–11', '2011–12',
       '2012–13', '2013–14', '2014–15', '2015–16', '2016–17'],
      dtype='object')

In [5]:
migration_recent.shape

(247, 11)

In [6]:
migration_recent.dtypes

country_group    object
country          object
2008–09          object
2009–10          object
2010–11          object
2011–12          object
2012–13          object
2013–14          object
2014–15          object
2015–16          object
2016–17          object
dtype: object

### Check for missing values

In [7]:
migration_recent.isna().sum()

country_group    0
country          0
2008–09          0
2009–10          0
2010–11          0
2011–12          0
2012–13          0
2013–14          0
2014–15          0
2015–16          0
2016–17          0
dtype: int64

In [8]:
migration_recent.isnull().sum()

country_group    0
country          0
2008–09          0
2009–10          0
2010–11          0
2011–12          0
2012–13          0
2013–14          0
2014–15          0
2015–16          0
2016–17          0
dtype: int64

## Change some values so that the columns can be converted to numerical data types.

<5 values in date columns to 5  
> -5 values in date columns to 0  
These are all very small values and will not have a great impact on my data.

In [9]:
migration_rec_copy = migration_recent.copy()

In [10]:
migration_rec_copy.loc[(migration_rec_copy['2008–09'] == '<5'), '2008–09'] = 5
migration_rec_copy.loc[(migration_rec_copy['2009–10'] == '<5'), '2009–10'] = 5
migration_rec_copy.loc[(migration_rec_copy['2010–11'] == '<5'), '2010–11'] = 5
migration_rec_copy.loc[(migration_rec_copy['2011–12'] == '<5'), '2011–12'] = 5
migration_rec_copy.loc[(migration_rec_copy['2012–13'] == '<5'), '2012–13'] = 5
migration_rec_copy.loc[(migration_rec_copy['2013–14'] == '<5'), '2013–14'] = 5
migration_rec_copy.loc[(migration_rec_copy['2014–15'] == '<5'), '2014–15'] = 5
migration_rec_copy.loc[(migration_rec_copy['2015–16'] == '<5'), '2015–16'] = 5
migration_rec_copy.loc[(migration_rec_copy['2016–17'] == '<5'), '2016–17'] = 5


migration_rec_copy.loc[(migration_rec_copy['2008–09'] == '> -5'), '2008–09'] = 0
migration_rec_copy.loc[(migration_rec_copy['2009–10'] == '> -5'), '2009–10'] = 0
migration_rec_copy.loc[(migration_rec_copy['2010–11'] == '> -5'), '2010–11'] = 0
migration_rec_copy.loc[(migration_rec_copy['2011–12'] == '> -5'), '2011–12'] = 0
migration_rec_copy.loc[(migration_rec_copy['2012–13'] == '> -5'), '2012–13'] = 0
migration_rec_copy.loc[(migration_rec_copy['2013–14'] == '> -5'), '2013–14'] = 0
migration_rec_copy.loc[(migration_rec_copy['2014–15'] == '> -5'), '2014–15'] = 0
migration_rec_copy.loc[(migration_rec_copy['2015–16'] == '> -5'), '2015–16'] = 0
migration_rec_copy.loc[(migration_rec_copy['2016–17'] == '> -5'), '2016–17'] = 0

In [11]:
migration_rec_copy.head()

,country_group,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
0,Oceania & Antarctica,"Australia (includes External Territories), nfd",2278,2289,3113,4113,5582,5292,4869,5668,5425
1,Oceania & Antarctica,Cook Islands,275,156,236,298,331,250,193,192,92
2,Oceania & Antarctica,Fiji,2158,1755,1651,1819,1656,1641,1278,1195,1035
3,Oceania & Antarctica,French Polynesia,17,10,14,10,12,8,14,6,9
4,Oceania & Antarctica,Guam,5,5,5,0,5,0,5,5,0

In [12]:
migration_recent = migration_rec_copy

### Change year columns to integers

In [13]:
migration_recent['2008–09'] = migration_recent['2008–09'].astype('Int64')
migration_recent['2009–10'] = migration_recent['2009–10'].astype('Int64')
migration_recent['2010–11'] = migration_recent['2010–11'].astype('Int64')
migration_recent['2011–12'] = migration_recent['2011–12'].astype('Int64')
migration_recent['2012–13'] = migration_recent['2012–13'].astype('Int64')
migration_recent['2013–14'] = migration_recent['2013–14'].astype('Int64')
migration_recent['2014–15'] = migration_recent['2014–15'].astype('Int64')
migration_recent['2015–16'] = migration_recent['2015–16'].astype('Int64')
migration_recent['2016–17'] = migration_recent['2016–17'].astype('Int64')

In [14]:
migration_recent.dtypes

country_group    object
country          object
2008–09           Int64
2009–10           Int64
2010–11           Int64
2011–12           Int64
2012–13           Int64
2013–14           Int64
2014–15           Int64
2015–16           Int64
2016–17           Int64
dtype: object

In [15]:
migration_early = pd.read_excel("../migration/Table 2.1 Permanent additions, 1996–97 to 2007–08_transposed.xlsx")

In [16]:
migration_early

,country_group,country,1996–97,1997–98,1998–99,1999–00,2000–01,2001–02,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08
0,Oceania & Antarctica,Australia (includes External Territories),833,616,532,711,1100,1106,978,1152,1285,1321,1391,1782
1,Oceania & Antarctica,Cook Islands,293,228,207,200,236,124,82,108,91,98,114,244
2,Oceania & Antarctica,Fiji,2294,1553,1922,2070,2436,1952,1993,1959,1970,2080,1734,2088
3,Oceania & Antarctica,French Polynesia,8,6,8,16,13,9,12,12,12,12,11,10
4,Oceania & Antarctica,Guam,<5,<5,<5,<5,<5,<5,5,9,<5,<5,<5,<5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,Supplementary Country Codes,"Europe, nfd",0,0,<5,0,0,0,0,0,0,0,0,0
248,Supplementary Country Codes,"Former USSR, nfd",1071,620,1024,991,1006,1081,984,876,804,859,660,720
249,Supplementary Country Codes,Supplementary Country Codes total,1071,620,1025,991,1006,1081,984,876,804,859,660,720
250,Not Stated/NEI,Not stated/NEI total,242,177,177,555,471,241,113,1674,4614,5138,1135,2795
251,Total,Total,104551,94198,101016,111310,131162,121174,125862,149992,167319,179807,191907,205940

In [17]:
migration_early.isna().sum()

country_group    0
country          0
1996–97          0
1997–98          0
1998–99          0
1999–00          0
2000–01          0
2001–02          0
2002–03          0
2003–04          0
2004–05          0
2005–06          0
2006–07          0
2007–08          0
dtype: int64

In [18]:
migration_early.columns

Index(['country_group', 'country', '1996–97', '1997–98', '1998–99', '1999–00',
       '2000–01', '2001–02', '2002–03', '2003–04', '2004–05', '2005–06',
       '2006–07', '2007–08'],
      dtype='object')

In [19]:
migration_early.shape

(252, 14)

In [20]:
migration_early.dtypes

country_group    object
country          object
1996–97          object
1997–98          object
1998–99          object
1999–00          object
2000–01          object
2001–02          object
2002–03          object
2003–04          object
2004–05          object
2005–06          object
2006–07          object
2007–08          object
dtype: object

### Change all values of <5 to 5, so that they are recognised as numbers

In [21]:
migration_early.loc[(migration_early['1996–97'] == '<5'), '1996–97'] = 5
migration_early.loc[(migration_early['1997–98'] == '<5'), '1997–98'] = 5
migration_early.loc[(migration_early['1998–99'] == '<5'), '1998–99'] = 5
migration_early.loc[(migration_early['1999–00'] == '<5'), '1999–00'] = 5
migration_early.loc[(migration_early['2000–01'] == '<5'), '2000–01'] = 5
migration_early.loc[(migration_early['2001–02'] == '<5'), '2001–02'] = 5
migration_early.loc[(migration_early['2002–03'] == '<5'), '2002–03'] = 5
migration_early.loc[(migration_early['2003–04'] == '<5'), '2003–04'] = 5
migration_early.loc[(migration_early['2004–05'] == '<5'), '2004–05'] = 5
migration_early.loc[(migration_early['2005–06'] == '<5'), '2005–06'] = 5
migration_early.loc[(migration_early['2006–07'] == '<5'), '2006–07'] = 5
migration_early.loc[(migration_early['2007–08'] == '<5'), '2007–08'] = 5

migration_early.loc[(migration_early['1996–97'] == '> -5'), '1996–97'] = 0
migration_early.loc[(migration_early['1997–98'] == '> -5'), '1997–98'] = 0
migration_early.loc[(migration_early['1998–99'] == '> -5'), '1998–99'] = 0
migration_early.loc[(migration_early['1999–00'] == '> -5'), '1999–00'] = 0
migration_early.loc[(migration_early['2000–01'] == '> -5'), '2000–01'] = 0
migration_early.loc[(migration_early['2001–02'] == '> -5'), '2001–02'] = 0
migration_early.loc[(migration_early['2002–03'] == '> -5'), '2002–03'] = 0
migration_early.loc[(migration_early['2003–04'] == '> -5'), '2003–04'] = 0
migration_early.loc[(migration_early['2004–05'] == '> -5'), '2004–05'] = 0
migration_early.loc[(migration_early['2005–06'] == '> -5'), '2005–06'] = 0
migration_early.loc[(migration_early['2006–07'] == '> -5'), '2006–07'] = 0
migration_early.loc[(migration_early['2007–08'] == '> -5'), '2007–08'] = 0

In [22]:
migration_early.head(10)

,country_group,country,1996–97,1997–98,1998–99,1999–00,2000–01,2001–02,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08
0,Oceania & Antarctica,Australia (includes External Territories),833,616,532,711,1100,1106,978,1152,1285,1321,1391,1782
1,Oceania & Antarctica,Cook Islands,293,228,207,200,236,124,82,108,91,98,114,244
2,Oceania & Antarctica,Fiji,2294,1553,1922,2070,2436,1952,1993,1959,1970,2080,1734,2088
3,Oceania & Antarctica,French Polynesia,8,6,8,16,13,9,12,12,12,12,11,10
4,Oceania & Antarctica,Guam,5,5,5,5,5,5,5,9,5,5,5,5
5,Oceania & Antarctica,Kiribati,12,9,9,11,9,13,11,7,7,5,19,7
6,Oceania & Antarctica,Marshall Islands,0,0,0,5,0,5,5,5,0,5,0,0
7,Oceania & Antarctica,"Micronesia, Federated States of",5,5,5,0,0,5,6,0,5,0,5,5
8,Oceania & Antarctica,"Micronesia, nfd",0,0,0,5,0,0,0,0,5,0,0,0
9,Oceania & Antarctica,Nauru,8,5,5,5,13,17,10,14,16,12,16,10

### Check for missing values

In [23]:
migration_early.isnull().sum()

country_group    0
country          0
1996–97          0
1997–98          0
1998–99          0
1999–00          0
2000–01          0
2001–02          0
2002–03          0
2003–04          0
2004–05          0
2005–06          0
2006–07          0
2007–08          0
dtype: int64

In [24]:
migration_early['1996–97'] = migration_early['1996–97'].astype('Int64')
migration_early['1997–98'] = migration_early['1997–98'].astype('Int64')
migration_early['1998–99'] = migration_early['1998–99'].astype('Int64')
migration_early['1999–00'] = migration_early['1999–00'].astype('Int64')
migration_early['2000–01'] = migration_early['2000–01'].astype('Int64')
migration_early['2001–02'] = migration_early['2001–02'].astype('Int64')
migration_early['2002–03'] = migration_early['2002–03'].astype('Int64')
migration_early['2003–04'] = migration_early['2003–04'].astype('Int64')
migration_early['2004–05'] = migration_early['2004–05'].astype('Int64')
migration_early['2005–06'] = migration_early['2005–06'].astype('Int64')
migration_early['2006–07'] = migration_early['2006–07'].astype('Int64')
migration_early['2007–08'] = migration_early['2007–08'].astype('Int64')

In [25]:
migration_early.dtypes

country_group    object
country          object
1996–97           Int64
1997–98           Int64
1998–99           Int64
1999–00           Int64
2000–01           Int64
2001–02           Int64
2002–03           Int64
2003–04           Int64
2004–05           Int64
2005–06           Int64
2006–07           Int64
2007–08           Int64
dtype: object

In [26]:
migration_early.columns

Index(['country_group', 'country', '1996–97', '1997–98', '1998–99', '1999–00',
       '2000–01', '2001–02', '2002–03', '2003–04', '2004–05', '2005–06',
       '2006–07', '2007–08'],
      dtype='object')

### Drop date columns that are not needed

News dataset starts 19 February 2003, so can drop: 
    
    '1996–97', '1997–98', '1998–99', '1999–00',
       '2000–01', '2001–02'

In [27]:
migration_early = migration_early.drop(
                  columns=['1996–97', '1997–98', '1998–99', '1999–00', '2000–01', '2001–02'])

In [28]:
migration_early.tail(10)

,country_group,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08
242,Sub-Saharan Africa,Togo,5,5,9,5,50,100
243,Sub-Saharan Africa,Uganda,84,113,206,177,297,171
244,Sub-Saharan Africa,Zambia,110,181,151,167,214,227
245,Sub-Saharan Africa,Zimbabwe,1508,2099,1702,1672,1664,1900
246,Sub-Saharan Africa,Sub-Saharan Africa total,10867,13490,14065,12941,14542,15117
247,Supplementary Country Codes,"Europe, nfd",0,0,0,0,0,0
248,Supplementary Country Codes,"Former USSR, nfd",984,876,804,859,660,720
249,Supplementary Country Codes,Supplementary Country Codes total,984,876,804,859,660,720
250,Not Stated/NEI,Not stated/NEI total,113,1674,4614,5138,1135,2795
251,Total,Total,125862,149992,167319,179807,191907,205940

## Check if countries match on both datasets before merging

There are quite a few country names that don't match, so this will need some cleaning before merging the datasets.

In [29]:
country_early = migration_early['country'].unique()
country_recent = migration_recent['country'].unique()

In [30]:
for i in country_early:
    if i not in country_recent:
        print(i)

Australia (includes External Territories)
Micronesia, nfd
Polynesia (excludes Hawaii), nec
Oceania & Antarctica total
Eastern Europe, nfd
Former Czechoslovakia, nfd
Former Serbia and Montenegro1
Former Yugoslav Republic of Macedonia
Montenegro2
United Kingdom
Europe total
North Africa, nfd
Western Sahara
North Africa & the Middle East total
East Timor
Myanmar
South-East Asia, nfd
South East Asia total
Korea3
North East Asia total
Southern Asia total
Central Asia total
St Pierre and Miquelon
Northern America total
Anguilla
Bolivia
Netherlands Antilles
South America, nfd
Turks and Caicos Islands
Venezuela
South America, Central America & the Caribbean total
Central and West Africa, nfd
Congo
Southern and East Africa, nfd
Sub-Saharan Africa total
Europe, nfd
Not stated/NEI total
Total

In [31]:
for i in country_recent:
    if i not in country_early:
        print(i)

Australia (includes External Territories), nfd
Pitcairn Islands
Oceania & Antarctica Total
United Kingdom1
North-West Europe Total
Czechoslovakia, nfd
Former Yugoslav Republic of Macedonia (FYROM)
Kosovo
Montenegro
San Marino
Serbia and Montenegro, nfd
Southern and Eastern Europe Total
South Sudan
North Africa and the Middle East Total
Myanmar, The Republic of the Union of
Timor-Leste
South-East Asia Total
Korea2
North East Asia Total
Southern and Central Asia Total
Bolivia, Plurinational State of
Bonaire, Sint Eustatius and Saba
Curacao
Sint Maarten (Dutch part)
St Martin (French part)
Venezuela, Bolivarian Republic of
Americas Total
Congo, Republic of
Equatorial Guinea
Southern and East Africa, nec
Sub - Saharan Africa Total
Not Stated/NEI total
Total3

## Fix country names of each dataset

In [32]:
migration_recent  = migration_recent.replace('Australia (includes External Territories), nfd', 
                                             'Australia (includes External Territories)'
                                            ).replace('Former Yugoslav Republic of Macedonia (FYROM)', 
                                                    'Former Yugoslav Republic of Macedonia'
                                            ).replace('Serbia and Montenegro, nfd', 
                                                      'Former Serbia and Montenegro'
                                            ).replace('Total3', 
                                                      'Total'
                                            ).replace('Korea2', 
                                                      'Korea'
                                            ).replace('United Kingdom1', 
                                                      'United Kingdom'
                                            ).replace('Czechoslovakia, nfd', 
                                                      'Former Czechoslovakia, nfd')

In [33]:
migration_early  = migration_early.replace('Former Serbia and Montenegro1', 
                                            'Former Serbia and Montenegro'
                                            ).replace('Montenegro2', 
                                                    'Montenegro'
                                            ).replace('Bolivia', 
                                                      'Bolivia, Plurinational State of'
                                            ).replace('Myanmar', 
                                                      'Myanmar, The Republic of the Union of'
                                            ).replace('Korea3', 
                                                      'Korea'
                                            ).replace('East Timor', 
                                                      'Timor-Leste'
                                            ).replace('Venezuela', 
                                                      'Venezuela, Bolivarian Republic of'
                                            ).replace('Congo', 
                                                      'Congo, Republic of')

### Check progress in reducing inconsistencies in countries

In [34]:
country_recent2 = migration_recent['country'].unique()
country_early2 = migration_early['country'].unique()

In [35]:
for i in country_recent2:
    if i not in country_early2:
        print(i)

Pitcairn Islands
Oceania & Antarctica Total
North-West Europe Total
Kosovo
San Marino
Southern and Eastern Europe Total
South Sudan
North Africa and the Middle East Total
South-East Asia Total
North East Asia Total
Southern and Central Asia Total
Bonaire, Sint Eustatius and Saba
Curacao
Sint Maarten (Dutch part)
St Martin (French part)
Americas Total
Equatorial Guinea
Southern and East Africa, nec
Sub - Saharan Africa Total
Not Stated/NEI total

In [36]:
for i in country_early2:
    if i not in country_recent2:
        print(i)

Micronesia, nfd
Polynesia (excludes Hawaii), nec
Oceania & Antarctica total
Eastern Europe, nfd
Europe total
North Africa, nfd
Western Sahara
North Africa & the Middle East total
South-East Asia, nfd
South East Asia total
North East Asia total
Southern Asia total
Central Asia total
St Pierre and Miquelon
Northern America total
Anguilla
Netherlands Antilles
South America, nfd
Turks and Caicos Islands
South America, Central America & the Caribbean total
Central and West Africa, nfd
Southern and East Africa, nfd
Sub-Saharan Africa total
Europe, nfd
Not stated/NEI total

Some of these mismatches are small Islands belonging to colonial powers, all with very few immigrants to Australia.

I will rename these according to the following groups:   

Dutch overseas territories:  
- Recent list:  
    - Bonaire, Sint Eustatius and Saba (0/<5 for all years) 
    - Curacao (0/<5 for all years) 
    - Sint Maarten (Dutch part) (0/<5 for all years)
- Early list: 
    - Netherlands Antilles (0/<5/<10 for all years) 

French overseas territories:
- Recent list: 
    - St Martin (French part) (0/<5 for all years) 
- Early list: 
    - St Pierre and Miquelon (0/<5 for all years) 

British overseas territories 
- Recent list:
    - pitcairn islands (0/<5 for all years) 
- Early list:
    - Anguilla (0/<5 for all years) 
    - Turks and Caicos Islands (0/<5 for all years)


The rest are mainly country groupings/categories, will deal with these next.

### Assign European colonial overseas territories to groups

### 1. migration_recent

In [37]:
migration_recent.loc[migration_recent["country"] == 'Bonaire, Sint Eustatius and Saba']

,country_group,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
147,Americas,"Bonaire, Sint Eustatius and Saba",0,0,0,5,5,0,5,0,0

In [38]:
migration_recent.loc[migration_recent["country"] == 'Curacao']

,country_group,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
157,Americas,Curacao,0,5,5,5,0,0,0,5,0

In [39]:
migration_recent.loc[migration_recent["country"] == 'Sint Maarten (Dutch part)']

,country_group,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
179,Americas,Sint Maarten (Dutch part),0,0,0,5,0,0,5,5,0

In [40]:
Dutch_overseas_territories = migration_recent.loc[[147, 157, 179]]

In [41]:
Dutch_overseas_territories

,country_group,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
147,Americas,"Bonaire, Sint Eustatius and Saba",0,0,0,5,5,0,5,0,0
157,Americas,Curacao,0,5,5,5,0,0,0,5,0
179,Americas,Sint Maarten (Dutch part),0,0,0,5,0,0,5,5,0

In [42]:
migration_recent = migration_recent.replace('Bonaire, Sint Eustatius and Saba', 
                                             'Dutch overseas territories'
                                            ).replace('Curacao', 
                                                    'Dutch overseas territories'
                                            ).replace('Sint Maarten (Dutch part)', 
                                                      'Dutch overseas territories'
                                            ).replace('St Martin (French part)', 
                                                      'French overseas territories'
                                            ).replace('Pitcairn Islands',
                                                      'British overseas territories')

In [43]:
migration_recent_copy = migration_recent.copy()

In [44]:
migration_recent_copy.columns

Index(['country_group', 'country', '2008–09', '2009–10', '2010–11', '2011–12',
       '2012–13', '2013–14', '2014–15', '2015–16', '2016–17'],
      dtype='object')

In [45]:
dutch = migration_recent["country"] == 'Dutch overseas territories'

In [46]:
migration_recent_copy = migration_recent_copy[dutch].groupby(
    'country', as_index=False).sum().append(migration_recent_copy[~dutch], ignore_index=True)

In [47]:
migration_recent_copy.loc[(migration_recent_copy['country_group'].isna())]

,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17,country_group
0,Dutch overseas territories,0,5,5,15,5,0,10,10,0,NaN

In [48]:
migration_recent_copy.loc[(migration_recent_copy['country_group']
                           .isnull()), 'country_group'] = 'Americas'

In [49]:
migration_recent_copy.loc[migration_recent_copy["country"] == 'Dutch overseas territories']

,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17,country_group
0,Dutch overseas territories,0,5,5,15,5,0,10,10,0,Americas

In [50]:
migration_recent = migration_recent_copy

In [51]:
migration_recent.loc[migration_recent["country"] == 'Dutch overseas territories']

,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17,country_group
0,Dutch overseas territories,0,5,5,15,5,0,10,10,0,Americas

### 2. migration_early

Dutch overseas territories:  
Netherlands Antilles (0/<5/<10 for all years) - NL overseas territory  

French overseas territories:  
St Pierre and Miquelon (0/<5 for all years) - FR overseas territory

British overseas territories:  

Anguilla (0/<5 for all years) - UK overseas territory  
Turks and Caicos Islands (0/<5 for all years) - UK overseas territory

In [52]:
migration_early_copy = migration_early.copy()

In [53]:
migration_early_copy.loc[migration_early_copy["country"] == 'Anguilla']

,country_group,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08
146,"South America, Central America & the Caribbean",Anguilla,0,0,0,0,0,0

In [54]:
migration_early_copy.loc[migration_early_copy["country"] == 'Turks and Caicos Islands']

,country_group,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08
190,"South America, Central America & the Caribbean",Turks and Caicos Islands,0,0,0,5,0,0

In [55]:
migration_early_copy = migration_early_copy.replace('Netherlands Antilles', 
                                             'Dutch overseas territories'
                                            ).replace('St Pierre and Miquelon', 
                                             'French overseas territories'
                                            ).replace('Anguilla', 
                                             'British overseas territories'
                                            ).replace('Turks and Caicos Islands', 
                                             'British overseas territories')

In [56]:
british = migration_early_copy["country"] == 'British overseas territories'

In [57]:
migration_early_copy = migration_early_copy[british].groupby(
    'country', as_index=False).sum().append(migration_early_copy[~british], ignore_index=True)

In [58]:
migration_early_copy.loc[(migration_early_copy['country_group'].isna())]

,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,country_group
0,British overseas territories,0,0,0,5,0,0,NaN

In [59]:
migration_early_copy.loc[(migration_early_copy['country_group']
                         .isnull()), 
                         'country_group'] = 'South America, Central America & the Caribbean'

In [60]:
migration_early_copy.loc[migration_early_copy["country"] == 'Turks and Caicos Islands']

Empty DataFrame
Columns: [country, 2002–03, 2003–04, 2004–05, 2005–06, 2006–07, 2007–08, country_group]
Index: []

In [61]:
migration_early_copy.loc[migration_early_copy["country"] == 'British overseas territories']

,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,country_group
0,British overseas territories,0,0,0,5,0,0,"South America, Central America & the Caribbean"

In [62]:
migration_early_copy.loc[migration_early_copy["country"] == 'French overseas territories']

,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,country_group
144,French overseas territories,0,0,0,5,0,0,Northern America

In [63]:
migration_early_copy.loc[migration_early_copy["country"] == 'Dutch overseas territories']

,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,country_group
178,Dutch overseas territories,5,0,5,7,5,5,"South America, Central America & the Caribbean"

In [64]:
migration_early = migration_early_copy

In [65]:
migration_early.head()

,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,country_group
0,British overseas territories,0,0,0,5,0,0,"South America, Central America & the Caribbean"
1,Australia (includes External Territories),978,1152,1285,1321,1391,1782,Oceania & Antarctica
2,Cook Islands,82,108,91,98,114,244,Oceania & Antarctica
3,Fiji,1993,1959,1970,2080,1734,2088,Oceania & Antarctica
4,French Polynesia,12,12,12,12,11,10,Oceania & Antarctica

## Check how many inconsistencies remain

The majority of these are 'total' columns

In [66]:
country_recent3 = migration_recent['country'].unique()
country_early3 = migration_early['country'].unique()

In [67]:
for i in country_recent3:
    if i not in country_early3:
        print(i)

Oceania & Antarctica Total
North-West Europe Total
Kosovo
San Marino
Southern and Eastern Europe Total
South Sudan
North Africa and the Middle East Total
South-East Asia Total
North East Asia Total
Southern and Central Asia Total
Americas Total
Equatorial Guinea
Southern and East Africa, nec
Sub - Saharan Africa Total
Not Stated/NEI total

In [68]:
for i in country_early3:
    if i not in country_recent3:
        print(i)

Micronesia, nfd
Polynesia (excludes Hawaii), nec
Oceania & Antarctica total
Eastern Europe, nfd
Europe total
North Africa, nfd
Western Sahara
North Africa & the Middle East total
South-East Asia, nfd
South East Asia total
North East Asia total
Southern Asia total
Central Asia total
Northern America total
South America, nfd
South America, Central America & the Caribbean total
Central and West Africa, nfd
Southern and East Africa, nfd
Sub-Saharan Africa total
Europe, nfd
Not stated/NEI total

## Remove 'total' rows

In [69]:
#check that it gets the rows I want 
new_df = migration_recent.loc[migration_recent['country'].str.contains('total', case=False)]
new_df

,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17,country_group
25,Oceania & Antarctica Total,32504,24670,34042,42921,41689,29293,24595,22840,16441,Oceania & Antarctica
44,North-West Europe Total,39811,33504,28554,36513,32955,33540,31675,27313,25174,North-West Europe
78,Southern and Eastern Europe Total,6027,5923,5645,6597,7520,7550,7447,7102,7306,Southern and Eastern Europe
102,North Africa and the Middle East Total,12558,9934,11134,11256,12648,14859,16562,14635,28525,North Africa and the Middle East
114,South-East Asia Total,29994,30196,30907,34324,34150,31420,31720,32129,31488,South-East Asia
122,North East Asia Total,32609,33166,37147,34705,38053,35359,35787,37080,37235,North East Asia
139,Southern and Central Asia Total,37903,36531,35922,44887,55546,60851,55921,58290,58232,Southern and Central Asia
189,Americas Total,7936,8846,7908,9044,10022,9903,9085,9142,9687,Americas
240,Sub - Saharan Africa Total,19961,20631,16317,16821,13531,12788,12309,11192,11369,Sub - Saharan Africa
242,Supplementary Country Codes total,163,156,165,211,262,338,358,293,276,Supplementary Country Codes
243,Not Stated/NEI total,1944,667,822,951,857,383,460,418,208,Not Stated/NEI
244,Total,221410,204224,208563,238230,247233,236284,225919,220434,225941,Total

In [70]:
new_df = migration_early.loc[migration_early['country'].str.contains('total', case=False)]
new_df

,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,country_group
26,Oceania & Antarctica total,16767,19122,22254,23952,28377,33298,Oceania & Antarctica
77,Europe total,27997,34384,34899,40555,40894,42650,Europe
102,North Africa & the Middle East total,11436,12203,13797,12057,10845,9828,North Africa & the Middle East
115,South East Asia total,21037,22881,23685,24460,26192,28050,South East Asia
123,North East Asia total,17084,21171,25342,27540,31584,31172,North East Asia
131,Southern Asia total,12905,16662,19692,22506,28475,33002,Southern Asia
141,Central Asia total,1094,1403,1693,2766,2460,1973,Central Asia
146,Northern America total,3670,4009,4128,4406,4199,4332,Northern America
194,"South America, Central America & the Caribbean...",1908,2117,2346,2627,2544,3003,"South America, Central America & the Caribbean"
245,Sub-Saharan Africa total,10867,13490,14065,12941,14542,15117,Sub-Saharan Africa
248,Supplementary Country Codes total,984,876,804,859,660,720,Supplementary Country Codes
249,Not stated/NEI total,113,1674,4614,5138,1135,2795,Not Stated/NEI
250,Total,125862,149992,167319,179807,191907,205940,Total

In [71]:
#remove these from dataframe
migration_early = migration_early[~migration_early["country"].str.contains('total', case=False)]
migration_early.tail(10)

,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,country_group
237,"Southern and East Africa, nfd",5,5,0,0,0,5,Sub-Saharan Africa
238,St Helena,5,0,5,5,0,0,Sub-Saharan Africa
239,Swaziland,8,15,5,11,14,9,Sub-Saharan Africa
240,Tanzania,48,76,197,431,366,311,Sub-Saharan Africa
241,Togo,5,5,9,5,50,100,Sub-Saharan Africa
242,Uganda,84,113,206,177,297,171,Sub-Saharan Africa
243,Zambia,110,181,151,167,214,227,Sub-Saharan Africa
244,Zimbabwe,1508,2099,1702,1672,1664,1900,Sub-Saharan Africa
246,"Europe, nfd",0,0,0,0,0,0,Supplementary Country Codes
247,"Former USSR, nfd",984,876,804,859,660,720,Supplementary Country Codes

In [72]:
#remove these from dataframe
migration_recent = migration_recent[~migration_recent["country"].str.contains('total', case=False)]
migration_recent.tail(10)

,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17,country_group
231,South Africa,11947,11861,9079,9331,7040,5839,5530,4592,5397,Sub - Saharan Africa
232,"Southern and East Africa, nec",0,0,0,0,0,0,5,0,0,Sub - Saharan Africa
233,St Helena,0,5,5,0,5,5,5,0,5,Sub - Saharan Africa
234,Swaziland,19,10,11,8,12,5,5,5,7,Sub - Saharan Africa
235,Tanzania,208,150,167,101,97,94,102,96,124,Sub - Saharan Africa
236,Togo,46,61,42,12,5,11,5,5,5,Sub - Saharan Africa
237,Uganda,143,194,173,80,98,138,133,127,109,Sub - Saharan Africa
238,Zambia,210,258,325,266,310,221,239,175,159,Sub - Saharan Africa
239,Zimbabwe,2241,2215,1880,1749,1553,1343,1171,1053,1056,Sub - Saharan Africa
241,"Former USSR, nfd",163,156,165,211,262,338,358,293,276,Supplementary Country Codes

### Look closer at country rows with 'nec'

'nec' stands for 'not elsewhere classified'. The below two rows have almost all missing values or 0s, so these do not add value and can be deleted.

In [73]:
migration_recent.loc[migration_recent['country'].str.contains('nec', case=False)]

,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17,country_group
232,"Southern and East Africa, nec",0,0,0,0,0,0,5,0,0,Sub - Saharan Africa

In [74]:
migration_early.loc[migration_early['country'].str.contains('nec', case=False)]

,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,country_group
17,"Polynesia (excludes Hawaii), nec",0,0,0,0,0,0,Oceania & Antarctica

In [75]:
#remove these from dataframe
migration_recent = migration_recent[~migration_recent["country"].str.contains('nec', case=False)]
migration_recent.tail(10)

,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17,country_group
230,Somalia,391,563,385,396,337,498,454,552,218,Sub - Saharan Africa
231,South Africa,11947,11861,9079,9331,7040,5839,5530,4592,5397,Sub - Saharan Africa
233,St Helena,0,5,5,0,5,5,5,0,5,Sub - Saharan Africa
234,Swaziland,19,10,11,8,12,5,5,5,7,Sub - Saharan Africa
235,Tanzania,208,150,167,101,97,94,102,96,124,Sub - Saharan Africa
236,Togo,46,61,42,12,5,11,5,5,5,Sub - Saharan Africa
237,Uganda,143,194,173,80,98,138,133,127,109,Sub - Saharan Africa
238,Zambia,210,258,325,266,310,221,239,175,159,Sub - Saharan Africa
239,Zimbabwe,2241,2215,1880,1749,1553,1343,1171,1053,1056,Sub - Saharan Africa
241,"Former USSR, nfd",163,156,165,211,262,338,358,293,276,Supplementary Country Codes

In [76]:
#remove these from dataframe
migration_early = migration_early[~migration_early["country"].str.contains('nec', case=False)]
migration_early.tail(10)

,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,country_group
237,"Southern and East Africa, nfd",5,5,0,0,0,5,Sub-Saharan Africa
238,St Helena,5,0,5,5,0,0,Sub-Saharan Africa
239,Swaziland,8,15,5,11,14,9,Sub-Saharan Africa
240,Tanzania,48,76,197,431,366,311,Sub-Saharan Africa
241,Togo,5,5,9,5,50,100,Sub-Saharan Africa
242,Uganda,84,113,206,177,297,171,Sub-Saharan Africa
243,Zambia,110,181,151,167,214,227,Sub-Saharan Africa
244,Zimbabwe,1508,2099,1702,1672,1664,1900,Sub-Saharan Africa
246,"Europe, nfd",0,0,0,0,0,0,Supplementary Country Codes
247,"Former USSR, nfd",984,876,804,859,660,720,Supplementary Country Codes

### Look closer at countries with 'nfd'

'nfd' stands for 'not further defined'.  
Most of these rows have values which could be counted towards totals for the region, if this is done later, so they can stay for the time being.

In [77]:
migration_recent.loc[migration_recent['country'].str.contains('nfd', case=False)]

,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17,country_group
53,"Former Czechoslovakia, nfd",129,105,149,121,136,150,138,121,138,Southern and Eastern Europe
56,"Former Yugoslavia, nfd",0,0,0,0,0,0,0,0,39,Southern and Eastern Europe
90,"Middle East, nfd",6,8,9,5,5,5,7,5,10,North Africa and the Middle East
150,"Caribbean, nfd",0,0,0,0,0,5,0,0,0,Americas
152,"Central America, nfd",0,0,0,0,0,0,0,0,5,Americas
241,"Former USSR, nfd",163,156,165,211,262,338,358,293,276,Supplementary Country Codes

In [78]:
migration_early.loc[migration_early['country'].str.contains('nfd', case=False)]

,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,country_group
9,"Micronesia, nfd",0,0,5,0,0,0,Oceania & Antarctica
38,"Eastern Europe, nfd",0,5,0,0,0,0,Europe
42,"Former Czechoslovakia, nfd",231,285,296,270,269,223,Europe
45,"Former Yugoslavia, nfd",0,0,0,0,0,0,Europe
89,"Middle East, nfd",31,39,69,40,33,43,North Africa & the Middle East
91,"North Africa, nfd",0,0,0,0,0,0,North Africa & the Middle East
112,"South-East Asia, nfd",0,0,0,5,0,0,South East Asia
155,"Caribbean, nfd",0,0,5,0,5,0,"South America, Central America & the Caribbean"
157,"Central America, nfd",5,5,0,5,5,0,"South America, Central America & the Caribbean"
184,"South America, nfd",0,0,0,0,5,5,"South America, Central America & the Caribbean"
203,"Central and West Africa, nfd",0,0,0,0,0,0,Sub-Saharan Africa
237,"Southern and East Africa, nfd",5,5,0,0,0,5,Sub-Saharan Africa
246,"Europe, nfd",0,0,0,0,0,0,Supplementary Country Codes
247,"Former USSR, nfd",984,876,804,859,660,720,Supplementary Country Codes

## Check how many inconsistencies remain

- Kosovo gained independence from Serbia 2008, can stay
- South Sudan gained independence from Sudan 2011, can stay  
- Assume missing data in the case of San Marino and anyway 0 or <5 immigration for all years, can stay
- Assume missing data in the case of Equatorial Guinea, can stay
- 'nfd' values can stay as could be useful to add to totals if calculated later

In [79]:
country_recent5 = migration_recent['country'].unique()
country_early5 = migration_early['country'].unique()

In [80]:
for i in country_recent5:
    if i not in country_early5:
        print(i)

Kosovo
San Marino
South Sudan
Equatorial Guinea

In [81]:
for i in country_early5:
    if i not in country_recent5:
        print(i)

Micronesia, nfd
Eastern Europe, nfd
North Africa, nfd
Western Sahara
South-East Asia, nfd
South America, nfd
Central and West Africa, nfd
Southern and East Africa, nfd
Europe, nfd

In [82]:
migration_recent.shape

(232, 11)

In [83]:
migration_early.shape

(237, 8)

In [84]:
migration_recent = migration_recent.rename(
                    columns={'country_group': 'country_group_recent'})

In [85]:
migration_recent.tail()

,country,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17,country_group_recent
236,Togo,46,61,42,12,5,11,5,5,5,Sub - Saharan Africa
237,Uganda,143,194,173,80,98,138,133,127,109,Sub - Saharan Africa
238,Zambia,210,258,325,266,310,221,239,175,159,Sub - Saharan Africa
239,Zimbabwe,2241,2215,1880,1749,1553,1343,1171,1053,1056,Sub - Saharan Africa
241,"Former USSR, nfd",163,156,165,211,262,338,358,293,276,Supplementary Country Codes

## Merge datasets

In [86]:
migration_merged = pd.merge(migration_early, migration_recent, 
                            left_on='country', right_on='country', how='outer')

In [87]:
migration_merged.head()

,country,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,country_group,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17,country_group_recent
0,British overseas territories,0.0,0.0,0.0,5.0,0.0,0.0,"South America, Central America & the Caribbean",5.0,5.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,Oceania & Antarctica
1,Australia (includes External Territories),978.0,1152.0,1285.0,1321.0,1391.0,1782.0,Oceania & Antarctica,2278.0,2289.0,3113.0,4113.0,5582.0,5292.0,4869.0,5668.0,5425.0,Oceania & Antarctica
2,Cook Islands,82.0,108.0,91.0,98.0,114.0,244.0,Oceania & Antarctica,275.0,156.0,236.0,298.0,331.0,250.0,193.0,192.0,92.0,Oceania & Antarctica
3,Fiji,1993.0,1959.0,1970.0,2080.0,1734.0,2088.0,Oceania & Antarctica,2158.0,1755.0,1651.0,1819.0,1656.0,1641.0,1278.0,1195.0,1035.0,Oceania & Antarctica
4,French Polynesia,12.0,12.0,12.0,12.0,11.0,10.0,Oceania & Antarctica,17.0,10.0,14.0,10.0,12.0,8.0,14.0,6.0,9.0,Oceania & Antarctica

### Fix column order

In [88]:
cols = list(migration_merged.columns.values)
cols

['country',
 '2002–03',
 '2003–04',
 '2004–05',
 '2005–06',
 '2006–07',
 '2007–08',
 'country_group',
 '2008–09',
 '2009–10',
 '2010–11',
 '2011–12',
 '2012–13',
 '2013–14',
 '2014–15',
 '2015–16',
 '2016–17',
 'country_group_recent']

In [89]:
migration_merged = migration_merged[['country',
                                     'country_group',
                                     'country_group_recent',
                                     '2002–03',
                                     '2003–04',
                                     '2004–05',
                                     '2005–06',
                                     '2006–07',
                                     '2007–08',
                                     '2008–09',
                                     '2009–10',
                                     '2010–11',
                                     '2011–12',
                                     '2012–13',
                                     '2013–14',
                                     '2014–15',
                                     '2015–16',
                                     '2016–17']]

### Explore merged dataframe

In [90]:
migration_merged.head()

,country,country_group,country_group_recent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
0,British overseas territories,"South America, Central America & the Caribbean",Oceania & Antarctica,0.0,0.0,0.0,5.0,0.0,0.0,5.0,5.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0
1,Australia (includes External Territories),Oceania & Antarctica,Oceania & Antarctica,978.0,1152.0,1285.0,1321.0,1391.0,1782.0,2278.0,2289.0,3113.0,4113.0,5582.0,5292.0,4869.0,5668.0,5425.0
2,Cook Islands,Oceania & Antarctica,Oceania & Antarctica,82.0,108.0,91.0,98.0,114.0,244.0,275.0,156.0,236.0,298.0,331.0,250.0,193.0,192.0,92.0
3,Fiji,Oceania & Antarctica,Oceania & Antarctica,1993.0,1959.0,1970.0,2080.0,1734.0,2088.0,2158.0,1755.0,1651.0,1819.0,1656.0,1641.0,1278.0,1195.0,1035.0
4,French Polynesia,Oceania & Antarctica,Oceania & Antarctica,12.0,12.0,12.0,12.0,11.0,10.0,17.0,10.0,14.0,10.0,12.0,8.0,14.0,6.0,9.0

In [91]:
migration_merged.dtypes

country                  object
country_group            object
country_group_recent     object
2002–03                 float64
2003–04                 float64
2004–05                 float64
2005–06                 float64
2006–07                 float64
2007–08                 float64
2008–09                 float64
2009–10                 float64
2010–11                 float64
2011–12                 float64
2012–13                 float64
2013–14                 float64
2014–15                 float64
2015–16                 float64
2016–17                 float64
dtype: object

In [92]:
migration_merged.shape

(241, 18)

### Make copy of merged dataset

In [93]:
migration_merged_copy = migration_merged.copy()

In [94]:
#check for missing values
migration_merged_copy.isna().sum()

country                 0
country_group           4
country_group_recent    9
2002–03                 4
2003–04                 4
2004–05                 4
2005–06                 4
2006–07                 4
2007–08                 4
2008–09                 9
2009–10                 9
2010–11                 9
2011–12                 9
2012–13                 9
2013–14                 9
2014–15                 9
2015–16                 9
2016–17                 9
dtype: int64

In [95]:
#missing values as % - these are all under 5% so can be left. 
(migration_merged_copy.isna().sum())/len(migration_merged_copy)*100

country                 0.000000
country_group           1.659751
country_group_recent    3.734440
2002–03                 1.659751
2003–04                 1.659751
2004–05                 1.659751
2005–06                 1.659751
2006–07                 1.659751
2007–08                 1.659751
2008–09                 3.734440
2009–10                 3.734440
2010–11                 3.734440
2011–12                 3.734440
2012–13                 3.734440
2013–14                 3.734440
2014–15                 3.734440
2015–16                 3.734440
2016–17                 3.734440
dtype: float64

In [96]:
migration_merged_copy.loc[migration_merged_copy['country_group'].isnull()]

,country,country_group,country_group_recent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
237,Kosovo,NaN,Southern and Eastern Europe,NaN,NaN,NaN,NaN,NaN,NaN,9.0,20.0,10.0,23.0,10.0,9.0,14.0,16.0,36.0
238,San Marino,NaN,Southern and Eastern Europe,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,5.0,5.0,0.0,5.0
239,South Sudan,NaN,North Africa and the Middle East,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,21.0,93.0,134.0,305.0,209.0,392.0
240,Equatorial Guinea,NaN,Sub - Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0

## Allocate countries to suitable groups

In [97]:
migration_merged_copy.loc[(migration_merged_copy['country'] == 'Kosovo') 
                          & (migration_merged_copy['country_group'].isnull()), 'country_group'] = 'Europe'

migration_merged_copy.loc[(migration_merged_copy['country'] == 'San Marino') 
                          & (migration_merged_copy['country_group'].isnull()), 'country_group'] = 'Europe'

migration_merged_copy.loc[(migration_merged_copy['country'] == 'South Sudan') 
                          & (migration_merged_copy['country_group'].isnull()), 'country_group'] = 'Sub-Saharan Africa'

migration_merged_copy.loc[(migration_merged_copy['country'] == 'Equatorial Guinea') 
                          & (migration_merged_copy['country_group'].isnull()), 'country_group'] = 'Sub-Saharan Africa'

In [98]:
migration_merged_copy.isna().sum()

country                 0
country_group           0
country_group_recent    9
2002–03                 4
2003–04                 4
2004–05                 4
2005–06                 4
2006–07                 4
2007–08                 4
2008–09                 9
2009–10                 9
2010–11                 9
2011–12                 9
2012–13                 9
2013–14                 9
2014–15                 9
2015–16                 9
2016–17                 9
dtype: int64

### Check 'nfd' countries again

Could delete the below list except Western Sahara (disputed territory, don't want blank space on map when making Tableau visualisations later)

In [99]:
migration_merged_copy.loc[migration_merged_copy['country_group_recent'].isnull()]

,country,country_group,country_group_recent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
9,"Micronesia, nfd",Oceania & Antarctica,NaN,0.0,0.0,5.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,"Eastern Europe, nfd",Europe,NaN,0.0,5.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,"North Africa, nfd",North Africa & the Middle East,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Western Sahara,North Africa & the Middle East,NaN,5.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,"South-East Asia, nfd",South East Asia,NaN,0.0,0.0,0.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,"South America, nfd","South America, Central America & the Caribbean",NaN,0.0,0.0,0.0,0.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,"Central and West Africa, nfd",Sub-Saharan Africa,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,"Southern and East Africa, nfd",Sub-Saharan Africa,NaN,5.0,5.0,0.0,0.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,"Europe, nfd",Supplementary Country Codes,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Some of these have significant values, some don't. Could just keep all of them for now.

In [100]:
migration_merged_copy.loc[migration_merged_copy['country'].str.contains('nfd', case=False)]

,country,country_group,country_group_recent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
9,"Micronesia, nfd",Oceania & Antarctica,NaN,0.0,0.0,5.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,"Eastern Europe, nfd",Europe,NaN,0.0,5.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,"Former Czechoslovakia, nfd",Europe,Southern and Eastern Europe,231.0,285.0,296.0,270.0,269.0,223.0,129.0,105.0,149.0,121.0,136.0,150.0,138.0,121.0,138.0
43,"Former Yugoslavia, nfd",Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
86,"Middle East, nfd",North Africa & the Middle East,North Africa and the Middle East,31.0,39.0,69.0,40.0,33.0,43.0,6.0,8.0,9.0,5.0,5.0,5.0,7.0,5.0,10.0
88,"North Africa, nfd",North Africa & the Middle East,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,"South-East Asia, nfd",South East Asia,NaN,0.0,0.0,0.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,"Caribbean, nfd","South America, Central America & the Caribbean",Americas,0.0,0.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
148,"Central America, nfd","South America, Central America & the Caribbean",Americas,5.0,5.0,0.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
175,"South America, nfd","South America, Central America & the Caribbean",NaN,0.0,0.0,0.0,0.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,"Central and West Africa, nfd",Sub-Saharan Africa,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,"Southern and East Africa, nfd",Sub-Saharan Africa,NaN,5.0,5.0,0.0,0.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,"Europe, nfd",Supplementary Country Codes,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,"Former USSR, nfd",Supplementary Country Codes,Supplementary Country Codes,984.0,876.0,804.0,859.0,660.0,720.0,163.0,156.0,165.0,211.0,262.0,338.0,358.0,293.0,276.0

In [101]:
migration_merged = migration_merged_copy

In [108]:
migration_merged.isna().sum()

country                 0
country_group           0
country_group_recent    9
2002–03                 4
2003–04                 4
2004–05                 4
2005–06                 4
2006–07                 4
2007–08                 4
2008–09                 9
2009–10                 9
2010–11                 9
2011–12                 9
2012–13                 9
2013–14                 9
2014–15                 9
2015–16                 9
2016–17                 9
dtype: int64

# Fix country group categories on merged dataset

### Rename country_group_recent to continent

In [110]:
migration_merged = migration_merged.rename(
                    columns={'country_group_recent': 'continent'})

### Change 'Europe' values in country_group to European sub-regions

In [112]:
migration_merged.loc[migration_merged['country_group'].str.contains('Europe', case=False)]

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
25,Albania,Europe,Southern and Eastern Europe,408.0,132.0,128.0,141.0,103.0,107.0,146.0,141.0,102.0,128.0,128.0,113.0,103.0,104.0,111.0
26,Andorra,Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,5.0,5.0
27,Austria,Europe,North-West Europe,154.0,157.0,154.0,141.0,172.0,122.0,178.0,168.0,103.0,162.0,141.0,115.0,120.0,94.0,114.0
28,Belarus,Europe,Southern and Eastern Europe,14.0,30.0,49.0,49.0,40.0,20.0,67.0,51.0,66.0,53.0,84.0,104.0,76.0,70.0,71.0
29,Belgium,Europe,North-West Europe,145.0,122.0,127.0,132.0,135.0,163.0,162.0,195.0,179.0,189.0,209.0,214.0,235.0,194.0,214.0
30,Bosnia and Herzegovina,Europe,Southern and Eastern Europe,169.0,131.0,108.0,120.0,120.0,125.0,147.0,182.0,145.0,148.0,96.0,159.0,172.0,116.0,139.0
31,Bulgaria,Europe,Southern and Eastern Europe,115.0,128.0,140.0,98.0,110.0,124.0,112.0,110.0,78.0,105.0,85.0,133.0,111.0,98.0,94.0
32,Croatia,Europe,Southern and Eastern Europe,333.0,140.0,70.0,97.0,108.0,101.0,179.0,144.0,104.0,149.0,131.0,181.0,167.0,134.0,132.0
33,Cyprus,Europe,Southern and Eastern Europe,44.0,72.0,48.0,59.0,52.0,44.0,48.0,49.0,43.0,49.0,51.0,77.0,55.0,46.0,51.0
34,Czech Republic,Europe,Southern and Eastern Europe,23.0,19.0,36.0,66.0,70.0,65.0,135.0,130.0,103.0,137.0,157.0,154.0,167.0,169.0,148.0
35,Denmark,Europe,North-West Europe,146.0,169.0,171.0,169.0,166.0,193.0,168.0,141.0,136.0,140.0,145.0,133.0,152.0,124.0,134.0
36,"Eastern Europe, nfd",Europe,NaN,0.0,5.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Estonia,Europe,Southern and Eastern Europe,22.0,18.0,17.0,19.0,27.0,29.0,117.0,137.0,151.0,135.0,212.0,195.0,209.0,210.0,210.0
38,Faroe Islands,Europe,North-West Europe,5.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,5.0,5.0
39,Finland,Europe,North-West Europe,54.0,93.0,103.0,114.0,110.0,122.0,117.0,133.0,121.0,137.0,155.0,159.0,130.0,120.0,156.0
40,"Former Czechoslovakia, nfd",Europe,Southern and Eastern Europe,231.0,285.0,296.0,270.0,269.0,223.0,129.0,105.0,149.0,121.0,136.0,150.0,138.0,121.0,138.0
41,Former Serbia and Montenegro,Europe,Southern and Eastern Europe,1775.0,1078.0,724.0,567.0,601.0,403.0,73.0,77.0,55.0,44.0,45.0,34.0,43.0,29.0,5.0
42,Former Yugoslav Republic of Macedonia,Europe,Southern and Eastern Europe,445.0,420.0,332.0,370.0,335.0,380.0,393.0,369.0,320.0,282.0,341.0,339.0,250.0,301.0,286.0
43,"Former Yugoslavia, nfd",Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
44,France,Europe,North-West Europe,549.0,617.0,593.0,649.0,699.0,769.0,893.0,1030.0,1099.0,1233.0,1337.0,1513.0,1429.0,1440.0,1533.0
45,Germany,Europe,North-West Europe,1242.0,1359.0,1502.0,1631.0,1762.0,1809.0,2059.0,2015.0,1727.0,1953.0,1907.0,1680.0,1557.0,1483.0,1436.0
46,Gibraltar,Europe,Southern and Eastern Europe,5.0,6.0,6.0,6.0,9.0,12.0,5.0,8.0,5.0,7.0,6.0,8.0,5.0,5.0,5.0
47,Greece,Europe,Southern and Eastern Europe,160.0,155.0,135.0,161.0,135.0,140.0,168.0,153.0,190.0,431.0,729.0,783.0,565.0,463.0,438.0
48,Greenland,Europe,North-West Europe,0.0,0.0,0.0,5.0,0.0,0.0,0.0,5.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0
49,Hungary,Europe,Southern and Eastern Europe,134.0,147.0,191.0,156.0,220.0,225.0,259.0,283.0,267.0,330.0,387.0,346.0,355.0,297.0,291.0
50,Iceland,Europe,North-West Europe,7.0,7.0,6.0,5.0,14.0,8.0,17.0,8.0,7.0,14.0,15.0,9.0,7.0,8.0,8.0
51,Ireland,Europe,North-West Europe,1060.0,1430.0,1413.0,1546.0,1668.0,1851.0,2385.0,2744.0,3031.0,4581.0,4784.0,5541.0,5426.0,4174.0,3330.0
52,Italy,Europe,Southern and Eastern Europe,346.0,419.0,442.0,437.0,482.0,491.0,580.0,601.0,653.0,790.0,931.0,1009.0,1220.0,1478.0,1701.0
53,Latvia,Europe,Southern and Eastern Europe,39.0,41.0,44.0,42.0,30.0,43.0,101.0,141.0,117.0,123.0,108.0,106.0,90.0,97.0,77.0
54,Liechtenstein,Europe,North-West Europe,0.0,5.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
55,Lithuania,Europe,Southern and Eastern Europe,29.0,36.0,52.0,31.0,31.0,38.0,77.0,117.0,90.0,141.0,123.0,117.0,119.0,112.0,105.0
56,Luxembourg,Europe,North-West Europe,5.0,5.0,6.0,5.0,5.0,7.0,5.0,9.0,12.0,5.0,10.0,7.0,9.0,8.0,8.0
57,Malta,Europe,Southern and Eastern Europe,76.0,73.0,106.0,61.0,131.0,123.0,98.0,63.0,79.0,78.0,82.0,45.0,56.0,38.0,25.0
58,Moldova,Europe,Southern and Eastern Europe,10.0,41.0,16.0,28.0,19.0,30.0,28.0,31.0,43.0,54.0,47.0,36.0,44.0,48.0,57.0
59,Monaco,Europe,North-West Europe,5.0,5.0,0.0,5.0,0.0,5.0,5.0,0.0,5.0,5.0,5.0,5.0,5.0,5.0,0.0
60,Montenegro,Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,5.0,13.0,26.0,9.0,12.0,16.0,16.0,22.0,25.0,16.0,11.0
61,Netherlands,Europe,North-West Europe,644.0,665.0,729.0,780.0,814.0,863.0,890.0,718.0,630.0,746.0,777.0,694.0,644.0,544.0,587.0
62,Norway,Europe,North-West Europe,137.0,150.0,141.0,177.0,158.0,133.0,157.0,121.0,115.0,149.0,135.0,130.0,124.0,138.0,109.0
63,Poland,Europe,Southern and Eastern Europe,380.0,466.0,547.0,605.0,544.0,600.0,590.0,591.0,553.0,657.0,641.0,638.0,642.0,629.0,618.0
64,Portugal,Europe,Southern and Eastern Europe,86.0,85.0,112.0,98.0,90.0,112.0,145.0,144.0,112.0,193.0,212.0,257.0,255.0,233.0,226.0
65,Romania,Europe,Southern and Eastern Europe,361.0,326.0,320.0,356.0,371.0,354.0,360.0,378.0,321.0,387.0,391.0,388.0,355.0,303.0,245.0
66,Russian Federation,Europe,Southern and Eastern Europe,173.0,306.0,459.0,523.0,387.0,555.0,1063.0,909.0,910.0,898.0,1096.0,891.0,890.0,690.0,771.0
67,Serbia,Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,37.0,177.0,245.0,266.0,218.0,230.0,257.0,279.0,226.0,227.0,218.0
68,Slovakia,Europe,Southern and Eastern Europe,23.0,36.0,29.0,48.0,55.0,61.0,87.0,98.0,73.0,84.0,99.0,86.0,112.0,105.0,104.0
69,Slovenia,Europe,Southern and Eastern Europe,8.0,12.0,7.0,27.0,39.0,72.0,55.0,51.0,57.0,81.0,71.0,90.0,71.0,61.0,57.0
70,Spain,Europe,Southern and Eastern Europe,140.0,131.0,126.0,135.0,181.0,156.0,208.0,188.0,251.0,292.0,374.0,436.0,526.0,439.0,448.0
71,Sweden,Europe,North-West Europe,284.0,363.0,358.0,314.0,293.0,376.0,394.0,394.0,333.0,362.0,407.0,436.0,385.0,359.0,343.0
72,Switzerland,Europe,North-West Europe,324.0,323.0,292.0,348.0,268.0,341.0,313.0,288.0,255.0,329.0,261.0,242.0,242.0,213.0,218.0
73,Ukraine,Europe,Southern and Eastern Europe,136.0,232.0,217.0,227.0,241.0,224.0,377.0,377.0,366.0,431.0,472.0,363.0,388.0,447.0,447.0
74,United Kingdom,Europe,North-West Europe,17563.0,23958.0,24547.0,29743.0,29789.0,30841.0,32075.0,25539.0,20802.0,26510.0,22667.0,22665.0,21210.0,18409.0,16982.0
237,Kosovo,Europe,Southern and Eastern Europe,NaN,NaN,NaN,NaN,NaN,NaN,9.0,20.0,10.0,23.0,10.0,9.0,14.0,16.0,36.0
238,San Marino,Europe,Southern and Eastern Europe,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,5.0,5.0,0.0,5.0

In [114]:
migration_merged.loc[(migration_merged["continent"] == 'Southern and Eastern Europe')].head()

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
25,Albania,Europe,Southern and Eastern Europe,408.0,132.0,128.0,141.0,103.0,107.0,146.0,141.0,102.0,128.0,128.0,113.0,103.0,104.0,111.0
26,Andorra,Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,5.0,5.0
28,Belarus,Europe,Southern and Eastern Europe,14.0,30.0,49.0,49.0,40.0,20.0,67.0,51.0,66.0,53.0,84.0,104.0,76.0,70.0,71.0
30,Bosnia and Herzegovina,Europe,Southern and Eastern Europe,169.0,131.0,108.0,120.0,120.0,125.0,147.0,182.0,145.0,148.0,96.0,159.0,172.0,116.0,139.0
31,Bulgaria,Europe,Southern and Eastern Europe,115.0,128.0,140.0,98.0,110.0,124.0,112.0,110.0,78.0,105.0,85.0,133.0,111.0,98.0,94.0

In [115]:
migration_merged.loc[(migration_merged["continent"] == 
                      'Southern and Eastern Europe'), 'country_group'] = 'Southern and Eastern Europe'

In [117]:
migration_merged.loc[(migration_merged["continent"] == 'Southern and Eastern Europe')].head()

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
25,Albania,Southern and Eastern Europe,Southern and Eastern Europe,408.0,132.0,128.0,141.0,103.0,107.0,146.0,141.0,102.0,128.0,128.0,113.0,103.0,104.0,111.0
26,Andorra,Southern and Eastern Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,5.0,5.0
28,Belarus,Southern and Eastern Europe,Southern and Eastern Europe,14.0,30.0,49.0,49.0,40.0,20.0,67.0,51.0,66.0,53.0,84.0,104.0,76.0,70.0,71.0
30,Bosnia and Herzegovina,Southern and Eastern Europe,Southern and Eastern Europe,169.0,131.0,108.0,120.0,120.0,125.0,147.0,182.0,145.0,148.0,96.0,159.0,172.0,116.0,139.0
31,Bulgaria,Southern and Eastern Europe,Southern and Eastern Europe,115.0,128.0,140.0,98.0,110.0,124.0,112.0,110.0,78.0,105.0,85.0,133.0,111.0,98.0,94.0

In [119]:
migration_merged.loc[(migration_merged["continent"] == 'North-West Europe')].head()

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
27,Austria,Europe,North-West Europe,154.0,157.0,154.0,141.0,172.0,122.0,178.0,168.0,103.0,162.0,141.0,115.0,120.0,94.0,114.0
29,Belgium,Europe,North-West Europe,145.0,122.0,127.0,132.0,135.0,163.0,162.0,195.0,179.0,189.0,209.0,214.0,235.0,194.0,214.0
35,Denmark,Europe,North-West Europe,146.0,169.0,171.0,169.0,166.0,193.0,168.0,141.0,136.0,140.0,145.0,133.0,152.0,124.0,134.0
38,Faroe Islands,Europe,North-West Europe,5.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,5.0,5.0
39,Finland,Europe,North-West Europe,54.0,93.0,103.0,114.0,110.0,122.0,117.0,133.0,121.0,137.0,155.0,159.0,130.0,120.0,156.0

In [120]:
migration_merged.loc[(migration_merged["continent"] == 
                      'North-West Europe'), 'country_group'] = 'North-West Europe'

In [121]:
migration_merged.loc[(migration_merged["continent"] == 'North-West Europe')].head()

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
27,Austria,North-West Europe,North-West Europe,154.0,157.0,154.0,141.0,172.0,122.0,178.0,168.0,103.0,162.0,141.0,115.0,120.0,94.0,114.0
29,Belgium,North-West Europe,North-West Europe,145.0,122.0,127.0,132.0,135.0,163.0,162.0,195.0,179.0,189.0,209.0,214.0,235.0,194.0,214.0
35,Denmark,North-West Europe,North-West Europe,146.0,169.0,171.0,169.0,166.0,193.0,168.0,141.0,136.0,140.0,145.0,133.0,152.0,124.0,134.0
38,Faroe Islands,North-West Europe,North-West Europe,5.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,5.0,5.0
39,Finland,North-West Europe,North-West Europe,54.0,93.0,103.0,114.0,110.0,122.0,117.0,133.0,121.0,137.0,155.0,159.0,130.0,120.0,156.0

Check that it worked

In [127]:
migration_merged.loc[migration_merged['country_group'].str.contains('Europe', case=False)]

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
25,Albania,Southern and Eastern Europe,Southern and Eastern Europe,408.0,132.0,128.0,141.0,103.0,107.0,146.0,141.0,102.0,128.0,128.0,113.0,103.0,104.0,111.0
26,Andorra,Southern and Eastern Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,5.0,5.0
27,Austria,North-West Europe,North-West Europe,154.0,157.0,154.0,141.0,172.0,122.0,178.0,168.0,103.0,162.0,141.0,115.0,120.0,94.0,114.0
28,Belarus,Southern and Eastern Europe,Southern and Eastern Europe,14.0,30.0,49.0,49.0,40.0,20.0,67.0,51.0,66.0,53.0,84.0,104.0,76.0,70.0,71.0
29,Belgium,North-West Europe,North-West Europe,145.0,122.0,127.0,132.0,135.0,163.0,162.0,195.0,179.0,189.0,209.0,214.0,235.0,194.0,214.0
30,Bosnia and Herzegovina,Southern and Eastern Europe,Southern and Eastern Europe,169.0,131.0,108.0,120.0,120.0,125.0,147.0,182.0,145.0,148.0,96.0,159.0,172.0,116.0,139.0
31,Bulgaria,Southern and Eastern Europe,Southern and Eastern Europe,115.0,128.0,140.0,98.0,110.0,124.0,112.0,110.0,78.0,105.0,85.0,133.0,111.0,98.0,94.0
32,Croatia,Southern and Eastern Europe,Southern and Eastern Europe,333.0,140.0,70.0,97.0,108.0,101.0,179.0,144.0,104.0,149.0,131.0,181.0,167.0,134.0,132.0
33,Cyprus,Southern and Eastern Europe,Southern and Eastern Europe,44.0,72.0,48.0,59.0,52.0,44.0,48.0,49.0,43.0,49.0,51.0,77.0,55.0,46.0,51.0
34,Czech Republic,Southern and Eastern Europe,Southern and Eastern Europe,23.0,19.0,36.0,66.0,70.0,65.0,135.0,130.0,103.0,137.0,157.0,154.0,167.0,169.0,148.0
35,Denmark,North-West Europe,North-West Europe,146.0,169.0,171.0,169.0,166.0,193.0,168.0,141.0,136.0,140.0,145.0,133.0,152.0,124.0,134.0
36,"Eastern Europe, nfd",Europe,NaN,0.0,5.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Estonia,Southern and Eastern Europe,Southern and Eastern Europe,22.0,18.0,17.0,19.0,27.0,29.0,117.0,137.0,151.0,135.0,212.0,195.0,209.0,210.0,210.0
38,Faroe Islands,North-West Europe,North-West Europe,5.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,5.0,5.0
39,Finland,North-West Europe,North-West Europe,54.0,93.0,103.0,114.0,110.0,122.0,117.0,133.0,121.0,137.0,155.0,159.0,130.0,120.0,156.0
40,"Former Czechoslovakia, nfd",Southern and Eastern Europe,Southern and Eastern Europe,231.0,285.0,296.0,270.0,269.0,223.0,129.0,105.0,149.0,121.0,136.0,150.0,138.0,121.0,138.0
41,Former Serbia and Montenegro,Southern and Eastern Europe,Southern and Eastern Europe,1775.0,1078.0,724.0,567.0,601.0,403.0,73.0,77.0,55.0,44.0,45.0,34.0,43.0,29.0,5.0
42,Former Yugoslav Republic of Macedonia,Southern and Eastern Europe,Southern and Eastern Europe,445.0,420.0,332.0,370.0,335.0,380.0,393.0,369.0,320.0,282.0,341.0,339.0,250.0,301.0,286.0
43,"Former Yugoslavia, nfd",Southern and Eastern Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
44,France,North-West Europe,North-West Europe,549.0,617.0,593.0,649.0,699.0,769.0,893.0,1030.0,1099.0,1233.0,1337.0,1513.0,1429.0,1440.0,1533.0
45,Germany,North-West Europe,North-West Europe,1242.0,1359.0,1502.0,1631.0,1762.0,1809.0,2059.0,2015.0,1727.0,1953.0,1907.0,1680.0,1557.0,1483.0,1436.0
46,Gibraltar,Southern and Eastern Europe,Southern and Eastern Europe,5.0,6.0,6.0,6.0,9.0,12.0,5.0,8.0,5.0,7.0,6.0,8.0,5.0,5.0,5.0
47,Greece,Southern and Eastern Europe,Southern and Eastern Europe,160.0,155.0,135.0,161.0,135.0,140.0,168.0,153.0,190.0,431.0,729.0,783.0,565.0,463.0,438.0
48,Greenland,North-West Europe,North-West Europe,0.0,0.0,0.0,5.0,0.0,0.0,0.0,5.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0
49,Hungary,Southern and Eastern Europe,Southern and Eastern Europe,134.0,147.0,191.0,156.0,220.0,225.0,259.0,283.0,267.0,330.0,387.0,346.0,355.0,297.0,291.0
50,Iceland,North-West Europe,North-West Europe,7.0,7.0,6.0,5.0,14.0,8.0,17.0,8.0,7.0,14.0,15.0,9.0,7.0,8.0,8.0
51,Ireland,North-West Europe,North-West Europe,1060.0,1430.0,1413.0,1546.0,1668.0,1851.0,2385.0,2744.0,3031.0,4581.0,4784.0,5541.0,5426.0,4174.0,3330.0
52,Italy,Southern and Eastern Europe,Southern and Eastern Europe,346.0,419.0,442.0,437.0,482.0,491.0,580.0,601.0,653.0,790.0,931.0,1009.0,1220.0,1478.0,1701.0
53,Latvia,Southern and Eastern Europe,Southern and Eastern Europe,39.0,41.0,44.0,42.0,30.0,43.0,101.0,141.0,117.0,123.0,108.0,106.0,90.0,97.0,77.0
54,Liechtenstein,North-West Europe,North-West Europe,0.0,5.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
55,Lithuania,Southern and Eastern Europe,Southern and Eastern Europe,29.0,36.0,52.0,31.0,31.0,38.0,77.0,117.0,90.0,141.0,123.0,117.0,119.0,112.0,105.0
56,Luxembourg,North-West Europe,North-West Europe,5.0,5.0,6.0,5.0,5.0,7.0,5.0,9.0,12.0,5.0,10.0,7.0,9.0,8.0,8.0
57,Malta,Southern and Eastern Europe,Southern and Eastern Europe,76.0,73.0,106.0,61.0,131.0,123.0,98.0,63.0,79.0,78.0,82.0,45.0,56.0,38.0,25.0
58,Moldova,Southern and Eastern Europe,Southern and Eastern Europe,10.0,41.0,16.0,28.0,19.0,30.0,28.0,31.0,43.0,54.0,47.0,36.0,44.0,48.0,57.0
59,Monaco,North-West Europe,North-West Europe,5.0,5.0,0.0,5.0,0.0,5.0,5.0,0.0,5.0,5.0,5.0,5.0,5.0,5.0,0.0
60,Montenegro,Southern and Eastern Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,5.0,13.0,26.0,9.0,12.0,16.0,16.0,22.0,25.0,16.0,11.0
61,Netherlands,North-West Europe,North-West Europe,644.0,665.0,729.0,780.0,814.0,863.0,890.0,718.0,630.0,746.0,777.0,694.0,644.0,544.0,587.0
62,Norway,North-West Europe,North-West Europe,137.0,150.0,141.0,177.0,158.0,133.0,157.0,121.0,115.0,149.0,135.0,130.0,124.0,138.0,109.0
63,Poland,Southern and Eastern Europe,Southern and Eastern Europe,380.0,466.0,547.0,605.0,544.0,600.0,590.0,591.0,553.0,657.0,641.0,638.0,642.0,629.0,618.0
64,Portugal,Southern and Eastern Europe,Southern and Eastern Europe,86.0,85.0,112.0,98.0,90.0,112.0,145.0,144.0,112.0,193.0,212.0,257.0,255.0,233.0,226.0
65,Romania,Southern and Eastern Europe,Southern and Eastern Europe,361.0,326.0,320.0,356.0,371.0,354.0,360.0,378.0,321.0,387.0,391.0,388.0,355.0,303.0,245.0
66,Russian Federation,Southern and Eastern Europe,Southern and Eastern Europe,173.0,306.0,459.0,523.0,387.0,555.0,1063.0,909.0,910.0,898.0,1096.0,891.0,890.0,690.0,771.0
67,Serbia,Southern and Eastern Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,37.0,177.0,245.0,266.0,218.0,230.0,257.0,279.0,226.0,227.0,218.0
68,Slovakia,Southern and Eastern Europe,Southern and Eastern Europe,23.0,36.0,29.0,48.0,55.0,61.0,87.0,98.0,73.0,84.0,99.0,86.0,112.0,105.0,104.0
69,Slovenia,Southern and Eastern Europe,Southern and Eastern Europe,8.0,12.0,7.0,27.0,39.0,72.0,55.0,51.0,57.0,81.0,71.0,90.0,71.0,61.0,57.0
70,Spain,Southern and Eastern Europe,Southern and Eastern Europe,140.0,131.0,126.0,135.0,181.0,156.0,208.0,188.0,251.0,292.0,374.0,436.0,526.0,439.0,448.0
71,Sweden,North-West Europe,North-West Europe,284.0,363.0,358.0,314.0,293.0,376.0,394.0,394.0,333.0,362.0,407.0,436.0,385.0,359.0,343.0
72,Switzerland,North-West Europe,North-West Europe,324.0,323.0,292.0,348.0,268.0,341.0,313.0,288.0,255.0,329.0,261.0,242.0,242.0,213.0,218.0
73,Ukraine,Southern and Eastern Europe,Southern and Eastern Europe,136.0,232.0,217.0,227.0,241.0,224.0,377.0,377.0,366.0,431.0,472.0,363.0,388.0,447.0,447.0
74,United Kingdom,North-West Europe,North-West Europe,17563.0,23958.0,24547.0,29743.0,29789.0,30841.0,32075.0,25539.0,20802.0,26510.0,22667.0,22665.0,21210.0,18409.0,16982.0
237,Kosovo,Southern and Eastern Europe,Southern and Eastern Europe,NaN,NaN,NaN,NaN,NaN,NaN,9.0,20.0,10.0,23.0,10.0,9.0,14.0,16.0,36.0
238,San Marino,Southern and Eastern Europe,Southern and Eastern Europe,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,5.0,5.0,0.0,5.0

### Change country_group values from regions to continents

In [128]:
migration_merged['country_group'].unique()

array(['South America, Central America & the Caribbean',
       'Oceania & Antarctica', 'Southern and Eastern Europe',
       'North-West Europe', 'Europe', 'North Africa & the Middle East',
       'South East Asia', 'North East Asia', 'Southern Asia',
       'Central Asia', 'Northern America', 'Sub-Saharan Africa',
       'Supplementary Country Codes'], dtype=object)

In [129]:
migration_merged['continent'].unique()

array(['Oceania & Antarctica', nan, 'Southern and Eastern Europe',
       'North-West Europe', 'North Africa and the Middle East',
       'South-East Asia', 'North East Asia', 'Southern and Central Asia',
       'Americas', 'Sub - Saharan Africa', 'Supplementary Country Codes'],
      dtype=object)

In [135]:
#migration_merged.loc[migration_merged['continent'].str.contains('Europe', case=False)]


# ValueError: Cannot mask with non-boolean array containing NA / NaN values

### Fill in missing values in 'continent' column with 'country_group' values (for now)

I did this because I was getting a ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [132]:
migration_merged.loc[(migration_merged["continent"].isna())]

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
9,"Micronesia, nfd",Oceania & Antarctica,NaN,0.0,0.0,5.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,"Eastern Europe, nfd",Europe,NaN,0.0,5.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,"North Africa, nfd",North Africa & the Middle East,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Western Sahara,North Africa & the Middle East,NaN,5.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,"South-East Asia, nfd",South East Asia,NaN,0.0,0.0,0.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,"South America, nfd","South America, Central America & the Caribbean",NaN,0.0,0.0,0.0,0.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,"Central and West Africa, nfd",Sub-Saharan Africa,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,"Southern and East Africa, nfd",Sub-Saharan Africa,NaN,5.0,5.0,0.0,0.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,"Europe, nfd",Supplementary Country Codes,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
migration_merged['continent'] = migration_merged['continent'].fillna(migration_merged['country_group'])

Empty DataFrame
Columns: [country, country_group, continent, 2002–03, 2003–04, 2004–05, 2005–06, 2006–07, 2007–08, 2008–09, 2009–10, 2010–11, 2011–12, 2012–13, 2013–14, 2014–15, 2015–16, 2016–17]
Index: []

In [141]:
#check that it worked
migration_merged.loc[(migration_merged["continent"].isna())]

Empty DataFrame
Columns: [country, country_group, continent, 2002–03, 2003–04, 2004–05, 2005–06, 2006–07, 2007–08, 2008–09, 2009–10, 2010–11, 2011–12, 2012–13, 2013–14, 2014–15, 2015–16, 2016–17]
Index: []

### Set Europe as a continent

In [142]:
migration_merged.loc[migration_merged['continent'].str.contains('Europe', case=False)]

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
25,Albania,Southern and Eastern Europe,Southern and Eastern Europe,408.0,132.0,128.0,141.0,103.0,107.0,146.0,141.0,102.0,128.0,128.0,113.0,103.0,104.0,111.0
26,Andorra,Southern and Eastern Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,5.0,5.0
27,Austria,North-West Europe,North-West Europe,154.0,157.0,154.0,141.0,172.0,122.0,178.0,168.0,103.0,162.0,141.0,115.0,120.0,94.0,114.0
28,Belarus,Southern and Eastern Europe,Southern and Eastern Europe,14.0,30.0,49.0,49.0,40.0,20.0,67.0,51.0,66.0,53.0,84.0,104.0,76.0,70.0,71.0
29,Belgium,North-West Europe,North-West Europe,145.0,122.0,127.0,132.0,135.0,163.0,162.0,195.0,179.0,189.0,209.0,214.0,235.0,194.0,214.0
30,Bosnia and Herzegovina,Southern and Eastern Europe,Southern and Eastern Europe,169.0,131.0,108.0,120.0,120.0,125.0,147.0,182.0,145.0,148.0,96.0,159.0,172.0,116.0,139.0
31,Bulgaria,Southern and Eastern Europe,Southern and Eastern Europe,115.0,128.0,140.0,98.0,110.0,124.0,112.0,110.0,78.0,105.0,85.0,133.0,111.0,98.0,94.0
32,Croatia,Southern and Eastern Europe,Southern and Eastern Europe,333.0,140.0,70.0,97.0,108.0,101.0,179.0,144.0,104.0,149.0,131.0,181.0,167.0,134.0,132.0
33,Cyprus,Southern and Eastern Europe,Southern and Eastern Europe,44.0,72.0,48.0,59.0,52.0,44.0,48.0,49.0,43.0,49.0,51.0,77.0,55.0,46.0,51.0
34,Czech Republic,Southern and Eastern Europe,Southern and Eastern Europe,23.0,19.0,36.0,66.0,70.0,65.0,135.0,130.0,103.0,137.0,157.0,154.0,167.0,169.0,148.0
35,Denmark,North-West Europe,North-West Europe,146.0,169.0,171.0,169.0,166.0,193.0,168.0,141.0,136.0,140.0,145.0,133.0,152.0,124.0,134.0
36,"Eastern Europe, nfd",Europe,Europe,0.0,5.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Estonia,Southern and Eastern Europe,Southern and Eastern Europe,22.0,18.0,17.0,19.0,27.0,29.0,117.0,137.0,151.0,135.0,212.0,195.0,209.0,210.0,210.0
38,Faroe Islands,North-West Europe,North-West Europe,5.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,5.0,5.0
39,Finland,North-West Europe,North-West Europe,54.0,93.0,103.0,114.0,110.0,122.0,117.0,133.0,121.0,137.0,155.0,159.0,130.0,120.0,156.0
40,"Former Czechoslovakia, nfd",Southern and Eastern Europe,Southern and Eastern Europe,231.0,285.0,296.0,270.0,269.0,223.0,129.0,105.0,149.0,121.0,136.0,150.0,138.0,121.0,138.0
41,Former Serbia and Montenegro,Southern and Eastern Europe,Southern and Eastern Europe,1775.0,1078.0,724.0,567.0,601.0,403.0,73.0,77.0,55.0,44.0,45.0,34.0,43.0,29.0,5.0
42,Former Yugoslav Republic of Macedonia,Southern and Eastern Europe,Southern and Eastern Europe,445.0,420.0,332.0,370.0,335.0,380.0,393.0,369.0,320.0,282.0,341.0,339.0,250.0,301.0,286.0
43,"Former Yugoslavia, nfd",Southern and Eastern Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
44,France,North-West Europe,North-West Europe,549.0,617.0,593.0,649.0,699.0,769.0,893.0,1030.0,1099.0,1233.0,1337.0,1513.0,1429.0,1440.0,1533.0
45,Germany,North-West Europe,North-West Europe,1242.0,1359.0,1502.0,1631.0,1762.0,1809.0,2059.0,2015.0,1727.0,1953.0,1907.0,1680.0,1557.0,1483.0,1436.0
46,Gibraltar,Southern and Eastern Europe,Southern and Eastern Europe,5.0,6.0,6.0,6.0,9.0,12.0,5.0,8.0,5.0,7.0,6.0,8.0,5.0,5.0,5.0
47,Greece,Southern and Eastern Europe,Southern and Eastern Europe,160.0,155.0,135.0,161.0,135.0,140.0,168.0,153.0,190.0,431.0,729.0,783.0,565.0,463.0,438.0
48,Greenland,North-West Europe,North-West Europe,0.0,0.0,0.0,5.0,0.0,0.0,0.0,5.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0
49,Hungary,Southern and Eastern Europe,Southern and Eastern Europe,134.0,147.0,191.0,156.0,220.0,225.0,259.0,283.0,267.0,330.0,387.0,346.0,355.0,297.0,291.0
50,Iceland,North-West Europe,North-West Europe,7.0,7.0,6.0,5.0,14.0,8.0,17.0,8.0,7.0,14.0,15.0,9.0,7.0,8.0,8.0
51,Ireland,North-West Europe,North-West Europe,1060.0,1430.0,1413.0,1546.0,1668.0,1851.0,2385.0,2744.0,3031.0,4581.0,4784.0,5541.0,5426.0,4174.0,3330.0
52,Italy,Southern and Eastern Europe,Southern and Eastern Europe,346.0,419.0,442.0,437.0,482.0,491.0,580.0,601.0,653.0,790.0,931.0,1009.0,1220.0,1478.0,1701.0
53,Latvia,Southern and Eastern Europe,Southern and Eastern Europe,39.0,41.0,44.0,42.0,30.0,43.0,101.0,141.0,117.0,123.0,108.0,106.0,90.0,97.0,77.0
54,Liechtenstein,North-West Europe,North-West Europe,0.0,5.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
55,Lithuania,Southern and Eastern Europe,Southern and Eastern Europe,29.0,36.0,52.0,31.0,31.0,38.0,77.0,117.0,90.0,141.0,123.0,117.0,119.0,112.0,105.0
56,Luxembourg,North-West Europe,North-West Europe,5.0,5.0,6.0,5.0,5.0,7.0,5.0,9.0,12.0,5.0,10.0,7.0,9.0,8.0,8.0
57,Malta,Southern and Eastern Europe,Southern and Eastern Europe,76.0,73.0,106.0,61.0,131.0,123.0,98.0,63.0,79.0,78.0,82.0,45.0,56.0,38.0,25.0
58,Moldova,Southern and Eastern Europe,Southern and Eastern Europe,10.0,41.0,16.0,28.0,19.0,30.0,28.0,31.0,43.0,54.0,47.0,36.0,44.0,48.0,57.0
59,Monaco,North-West Europe,North-West Europe,5.0,5.0,0.0,5.0,0.0,5.0,5.0,0.0,5.0,5.0,5.0,5.0,5.0,5.0,0.0
60,Montenegro,Southern and Eastern Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,5.0,13.0,26.0,9.0,12.0,16.0,16.0,22.0,25.0,16.0,11.0
61,Netherlands,North-West Europe,North-West Europe,644.0,665.0,729.0,780.0,814.0,863.0,890.0,718.0,630.0,746.0,777.0,694.0,644.0,544.0,587.0
62,Norway,North-West Europe,North-West Europe,137.0,150.0,141.0,177.0,158.0,133.0,157.0,121.0,115.0,149.0,135.0,130.0,124.0,138.0,109.0
63,Poland,Southern and Eastern Europe,Southern and Eastern Europe,380.0,466.0,547.0,605.0,544.0,600.0,590.0,591.0,553.0,657.0,641.0,638.0,642.0,629.0,618.0
64,Portugal,Southern and Eastern Europe,Southern and Eastern Europe,86.0,85.0,112.0,98.0,90.0,112.0,145.0,144.0,112.0,193.0,212.0,257.0,255.0,233.0,226.0
65,Romania,Southern and Eastern Europe,Southern and Eastern Europe,361.0,326.0,320.0,356.0,371.0,354.0,360.0,378.0,321.0,387.0,391.0,388.0,355.0,303.0,245.0
66,Russian Federation,Southern and Eastern Europe,Southern and Eastern Europe,173.0,306.0,459.0,523.0,387.0,555.0,1063.0,909.0,910.0,898.0,1096.0,891.0,890.0,690.0,771.0
67,Serbia,Southern and Eastern Europe,Southern and Eastern Europe,0.0,0.0,0.0,0.0,37.0,177.0,245.0,266.0,218.0,230.0,257.0,279.0,226.0,227.0,218.0
68,Slovakia,Southern and Eastern Europe,Southern and Eastern Europe,23.0,36.0,29.0,48.0,55.0,61.0,87.0,98.0,73.0,84.0,99.0,86.0,112.0,105.0,104.0
69,Slovenia,Southern and Eastern Europe,Southern and Eastern Europe,8.0,12.0,7.0,27.0,39.0,72.0,55.0,51.0,57.0,81.0,71.0,90.0,71.0,61.0,57.0
70,Spain,Southern and Eastern Europe,Southern and Eastern Europe,140.0,131.0,126.0,135.0,181.0,156.0,208.0,188.0,251.0,292.0,374.0,436.0,526.0,439.0,448.0
71,Sweden,North-West Europe,North-West Europe,284.0,363.0,358.0,314.0,293.0,376.0,394.0,394.0,333.0,362.0,407.0,436.0,385.0,359.0,343.0
72,Switzerland,North-West Europe,North-West Europe,324.0,323.0,292.0,348.0,268.0,341.0,313.0,288.0,255.0,329.0,261.0,242.0,242.0,213.0,218.0
73,Ukraine,Southern and Eastern Europe,Southern and Eastern Europe,136.0,232.0,217.0,227.0,241.0,224.0,377.0,377.0,366.0,431.0,472.0,363.0,388.0,447.0,447.0
74,United Kingdom,North-West Europe,North-West Europe,17563.0,23958.0,24547.0,29743.0,29789.0,30841.0,32075.0,25539.0,20802.0,26510.0,22667.0,22665.0,21210.0,18409.0,16982.0
237,Kosovo,Southern and Eastern Europe,Southern and Eastern Europe,NaN,NaN,NaN,NaN,NaN,NaN,9.0,20.0,10.0,23.0,10.0,9.0,14.0,16.0,36.0
238,San Marino,Southern and Eastern Europe,Southern and Eastern Europe,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,5.0,5.0,0.0,5.0

In [189]:
migration_merged.loc[(migration_merged["country_group"] == 
                      'North-West Europe'), 'continent'] = 'Europe'
migration_merged.loc[(migration_merged["country_group"] == 
                      'Southern and Eastern Europe'), 'continent'] = 'Europe'
migration_merged.loc[(migration_merged["country"] == 
                      'Eastern Europe, nfd'), 'country_group'] = 'Southern and Eastern Europe'

### Set Asia as a continent

In [145]:
migration_merged.loc[migration_merged['continent'].str.contains('Asia', case=False)]

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
99,Brunei Darussalam,South East Asia,South-East Asia,79.0,91.0,94.0,87.0,82.0,73.0,69.0,64.0,48.0,63.0,69.0,62.0,48.0,70.0,52.0
100,Cambodia,South East Asia,South-East Asia,672.0,636.0,699.0,671.0,773.0,752.0,828.0,946.0,866.0,837.0,833.0,888.0,820.0,908.0,725.0
101,Timor-Leste,South East Asia,South-East Asia,49.0,42.0,35.0,43.0,54.0,52.0,38.0,37.0,31.0,22.0,23.0,40.0,19.0,24.0,25.0
102,Indonesia,South East Asia,South-East Asia,4781.0,4393.0,3932.0,3318.0,3166.0,3115.0,2858.0,2418.0,2880.0,2521.0,2520.0,2395.0,2095.0,2074.0,1892.0
103,Laos,South East Asia,South-East Asia,64.0,62.0,132.0,78.0,122.0,101.0,117.0,79.0,281.0,160.0,89.0,102.0,73.0,97.0,63.0
104,Malaysia,South East Asia,South-East Asia,3907.0,5101.0,4796.0,4817.0,4837.0,5139.0,5427.0,5032.0,5017.0,5619.0,5906.0,4666.0,4290.0,4420.0,4398.0
105,"Myanmar, The Republic of the Union of",South East Asia,South-East Asia,304.0,275.0,519.0,812.0,1766.0,2243.0,2322.0,1903.0,1298.0,2098.0,2034.0,1781.0,1891.0,1750.0,1472.0
106,Philippines,South East Asia,South-East Asia,3820.0,4705.0,5007.0,5611.0,6368.0,7382.0,9166.0,10560.0,11030.0,13138.0,11403.0,10799.0,12156.0,12171.0,12180.0
107,Singapore,South East Asia,South-East Asia,2501.0,3114.0,4087.0,3664.0,2512.0,2583.0,2198.0,1917.0,1583.0,1878.0,2054.0,1999.0,2039.0,1904.0,1758.0
108,"South-East Asia, nfd",South East Asia,South East Asia,0.0,0.0,0.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,Thailand,South East Asia,South-East Asia,1701.0,1707.0,1865.0,2237.0,2965.0,3384.0,3532.0,3231.0,2923.0,3032.0,3405.0,3317.0,3132.0,3286.0,3344.0
110,Vietnam,South East Asia,South-East Asia,3159.0,2755.0,2519.0,3120.0,3547.0,3226.0,3439.0,4009.0,4950.0,4956.0,5814.0,5371.0,5157.0,5425.0,5579.0
111,China (excludes SARs and Taiwan),North East Asia,North East Asia,10033.0,13316.0,15997.0,18084.0,21820.0,21208.0,22983.0,24745.0,28782.0,25537.0,28042.0,27534.0,28374.0,29441.0,29604.0
112,Hong Kong (SAR of China),North East Asia,North East Asia,1741.0,2070.0,2534.0,2162.0,2101.0,1784.0,1480.0,1337.0,1482.0,1422.0,1594.0,1482.0,1548.0,1800.0,1813.0
113,Japan,North East Asia,North East Asia,1382.0,1633.0,1863.0,1970.0,2147.0,1969.0,1991.0,1692.0,1526.0,1657.0,1806.0,1372.0,1127.0,1181.0,1199.0
114,Korea,North East Asia,North East Asia,2336.0,2742.0,3549.0,4021.0,4255.0,4953.0,5138.0,4354.0,4330.0,5025.0,5361.0,3789.0,3567.0,3340.0,3195.0
115,Macau (SAR of China),North East Asia,North East Asia,38.0,59.0,59.0,54.0,53.0,46.0,47.0,40.0,63.0,48.0,55.0,57.0,65.0,56.0,70.0
116,Mongolia,North East Asia,North East Asia,14.0,7.0,19.0,23.0,43.0,39.0,48.0,46.0,33.0,55.0,43.0,48.0,17.0,43.0,43.0
117,Taiwan,North East Asia,North East Asia,1540.0,1344.0,1321.0,1226.0,1165.0,1173.0,922.0,952.0,931.0,961.0,1152.0,1077.0,1089.0,1219.0,1311.0
118,Bangladesh,Southern Asia,Southern and Central Asia,804.0,1133.0,1432.0,1720.0,2303.0,2713.0,2159.0,2117.0,2246.0,2444.0,2733.0,2637.0,3280.0,2926.0,2457.0
119,Bhutan,Southern Asia,Southern and Central Asia,5.0,0.0,0.0,7.0,5.0,28.0,579.0,561.0,749.0,545.0,481.0,502.0,188.0,297.0,446.0
120,India,Southern Asia,Southern and Central Asia,8284.0,11359.0,12878.0,15298.0,19823.0,22688.0,25279.0,23417.0,21971.0,27880.0,37048.0,38381.0,33952.0,36888.0,38264.0
121,Maldives,Southern Asia,Southern and Central Asia,5.0,12.0,23.0,17.0,19.0,30.0,24.0,34.0,15.0,24.0,43.0,29.0,33.0,38.0,27.0
122,Nepal,Southern Asia,Southern and Central Asia,405.0,495.0,566.0,564.0,707.0,851.0,1145.0,1460.0,2369.0,2739.0,4134.0,4462.0,4034.0,4867.0,4318.0
123,Pakistan,Southern Asia,Southern and Central Asia,1067.0,1468.0,1723.0,1581.0,1848.0,1868.0,1985.0,1871.0,1917.0,3811.0,3673.0,5798.0,7479.0,6529.0,6315.0
124,Sri Lanka,Southern Asia,Southern and Central Asia,2340.0,2195.0,3070.0,3319.0,3771.0,4824.0,4853.0,5301.0,4561.0,5747.0,5317.0,4498.0,3848.0,3783.0,3153.0
125,Afghanistan,Central Asia,Southern and Central Asia,982.0,1253.0,1557.0,2567.0,2285.0,1785.0,1578.0,1495.0,1860.0,1385.0,1770.0,4252.0,2817.0,2672.0,2944.0
126,Armenia,Central Asia,Southern and Central Asia,28.0,17.0,6.0,8.0,16.0,14.0,39.0,22.0,16.0,41.0,32.0,35.0,32.0,26.0,42.0
127,Azerbaijan,Central Asia,Southern and Central Asia,5.0,13.0,15.0,13.0,11.0,11.0,22.0,25.0,20.0,24.0,39.0,25.0,28.0,18.0,19.0
128,Georgia,Central Asia,Southern and Central Asia,11.0,5.0,8.0,5.0,13.0,10.0,20.0,29.0,14.0,23.0,26.0,29.0,26.0,18.0,16.0
129,Kazakhstan,Central Asia,Southern and Central Asia,29.0,48.0,40.0,50.0,46.0,67.0,110.0,83.0,79.0,109.0,114.0,99.0,101.0,117.0,119.0
130,Kyrgyzstan,Central Asia,Southern and Central Asia,23.0,29.0,25.0,24.0,20.0,26.0,27.0,25.0,24.0,13.0,30.0,26.0,20.0,27.0,33.0
131,Tajikistan,Central Asia,Southern and Central Asia,5.0,5.0,5.0,5.0,5.0,5.0,5.0,9.0,7.0,9.0,12.0,7.0,5.0,5.0,5.0
132,Turkmenistan,Central Asia,Southern and Central Asia,5.0,5.0,5.0,7.0,9.0,5.0,5.0,12.0,5.0,5.0,5.0,5.0,0.0,5.0,7.0
133,Uzbekistan,Central Asia,Southern and Central Asia,11.0,35.0,36.0,88.0,55.0,57.0,77.0,70.0,70.0,88.0,91.0,70.0,80.0,75.0,70.0

In [146]:
migration_merged.loc[(migration_merged["country_group"] == 
                      'South East Asia'), 'continent'] = 'Asia'
migration_merged.loc[(migration_merged["country_group"] == 
                      'North East Asia'), 'continent'] = 'Asia'
migration_merged.loc[(migration_merged["country_group"] == 
                      'Southern Asia'), 'continent'] = 'Asia'
migration_merged.loc[(migration_merged["country_group"] == 
                      'Central Asia'), 'continent'] = 'Asia'

### Set Americas as continent

In [148]:
migration_merged.loc[migration_merged['continent'].str.contains('America', case=False)]

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
134,Bermuda,Northern America,Americas,8.0,5.0,5.0,9.0,5.0,5.0,9.0,15.0,9.0,12.0,13.0,12.0,14.0,6.0,7.0
135,Canada,Northern America,Americas,1202.0,1178.0,1299.0,1478.0,1345.0,1520.0,1647.0,1692.0,1555.0,1730.0,1813.0,1829.0,1723.0,1677.0,1620.0
136,French overseas territories,Northern America,Americas,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
137,United States of America,Northern America,Americas,2460.0,2829.0,2824.0,2918.0,2851.0,2807.0,2963.0,3095.0,2907.0,3221.0,3699.0,3653.0,3316.0,3294.0,3304.0
138,Antigua and Barbuda,"South America, Central America & the Caribbean",Americas,0.0,0.0,0.0,5.0,5.0,0.0,5.0,5.0,0.0,5.0,0.0,5.0,0.0,0.0,5.0
139,Argentina,"South America, Central America & the Caribbean",Americas,247.0,411.0,409.0,300.0,186.0,194.0,209.0,255.0,160.0,216.0,234.0,287.0,236.0,292.0,303.0
140,Aruba,"South America, Central America & the Caribbean",Americas,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0
141,Bahamas,"South America, Central America & the Caribbean",Americas,5.0,6.0,5.0,5.0,5.0,6.0,5.0,5.0,7.0,5.0,5.0,14.0,5.0,5.0,5.0
142,Barbados,"South America, Central America & the Caribbean",Americas,6.0,5.0,5.0,8.0,9.0,10.0,6.0,7.0,10.0,9.0,11.0,5.0,10.0,8.0,10.0
143,Belize,"South America, Central America & the Caribbean",Americas,5.0,5.0,5.0,0.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,0.0
144,"Bolivia, Plurinational State of","South America, Central America & the Caribbean",Americas,21.0,26.0,12.0,17.0,15.0,28.0,17.0,28.0,25.0,31.0,34.0,18.0,17.0,23.0,21.0
145,Brazil,"South America, Central America & the Caribbean",Americas,377.0,375.0,479.0,585.0,709.0,841.0,940.0,1275.0,970.0,1152.0,1356.0,1580.0,1362.0,1434.0,1814.0
146,"Caribbean, nfd","South America, Central America & the Caribbean",Americas,0.0,0.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
147,Cayman Islands,"South America, Central America & the Caribbean",Americas,0.0,5.0,5.0,5.0,5.0,7.0,5.0,7.0,5.0,5.0,5.0,5.0,8.0,7.0,7.0
148,"Central America, nfd","South America, Central America & the Caribbean",Americas,5.0,5.0,0.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
149,Chile,"South America, Central America & the Caribbean",Americas,228.0,211.0,219.0,206.0,194.0,206.0,266.0,256.0,262.0,251.0,255.0,273.0,252.0,253.0,306.0
150,Colombia,"South America, Central America & the Caribbean",Americas,392.0,399.0,417.0,394.0,385.0,463.0,544.0,789.0,773.0,954.0,1129.0,991.0,951.0,1011.0,1056.0
151,Costa Rica,"South America, Central America & the Caribbean",Americas,5.0,5.0,7.0,14.0,9.0,12.0,7.0,10.0,15.0,16.0,19.0,12.0,17.0,15.0,15.0
152,Cuba,"South America, Central America & the Caribbean",Americas,26.0,25.0,21.0,34.0,32.0,40.0,41.0,37.0,20.0,63.0,57.0,25.0,24.0,24.0,37.0
153,Dominica,"South America, Central America & the Caribbean",Americas,5.0,5.0,5.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0,5.0,5.0,0.0,0.0
154,Dominican Republic,"South America, Central America & the Caribbean",Americas,6.0,5.0,6.0,8.0,5.0,11.0,11.0,5.0,12.0,11.0,16.0,12.0,8.0,8.0,14.0
155,Ecuador,"South America, Central America & the Caribbean",Americas,45.0,55.0,52.0,58.0,39.0,48.0,52.0,48.0,41.0,43.0,42.0,59.0,39.0,46.0,49.0
156,El Salvador,"South America, Central America & the Caribbean",Americas,24.0,26.0,31.0,33.0,25.0,56.0,62.0,69.0,64.0,46.0,45.0,48.0,37.0,53.0,49.0
157,Falkland Islands,"South America, Central America & the Caribbean",Americas,5.0,5.0,5.0,5.0,5.0,5.0,5.0,0.0,5.0,5.0,0.0,5.0,5.0,0.0,5.0
158,French Guiana,"South America, Central America & the Caribbean",Americas,0.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,5.0,5.0,0.0,5.0,0.0,5.0
159,Grenada,"South America, Central America & the Caribbean",Americas,5.0,5.0,5.0,5.0,0.0,5.0,0.0,5.0,0.0,5.0,0.0,5.0,5.0,0.0,5.0
160,Guadeloupe,"South America, Central America & the Caribbean",Americas,5.0,5.0,5.0,0.0,5.0,0.0,5.0,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0
161,Guatemala,"South America, Central America & the Caribbean",Americas,5.0,11.0,5.0,8.0,14.0,13.0,18.0,16.0,11.0,19.0,24.0,20.0,11.0,14.0,18.0
162,Guyana,"South America, Central America & the Caribbean",Americas,7.0,10.0,8.0,11.0,10.0,8.0,10.0,6.0,9.0,8.0,14.0,7.0,5.0,5.0,5.0
163,Haiti,"South America, Central America & the Caribbean",Americas,5.0,5.0,0.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,8.0,6.0,5.0,7.0
164,Honduras,"South America, Central America & the Caribbean",Americas,5.0,5.0,7.0,5.0,5.0,9.0,5.0,6.0,6.0,5.0,10.0,7.0,9.0,5.0,5.0
165,Jamaica,"South America, Central America & the Caribbean",Americas,14.0,16.0,32.0,38.0,30.0,23.0,36.0,27.0,16.0,26.0,44.0,58.0,32.0,35.0,21.0
166,Martinique,"South America, Central America & the Caribbean",Americas,0.0,0.0,0.0,0.0,0.0,5.0,5.0,5.0,5.0,0.0,8.0,5.0,5.0,5.0,5.0
167,Mexico,"South America, Central America & the Caribbean",Americas,90.0,89.0,112.0,189.0,197.0,302.0,302.0,305.0,269.0,350.0,315.0,287.0,301.0,288.0,307.0
168,Montserrat,"South America, Central America & the Caribbean",Americas,0.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,0.0,5.0
169,Dutch overseas territories,"South America, Central America & the Caribbean",Americas,5.0,0.0,5.0,7.0,5.0,5.0,0.0,5.0,5.0,15.0,5.0,0.0,10.0,10.0,0.0
170,Nicaragua,"South America, Central America & the Caribbean",Americas,5.0,5.0,5.0,8.0,13.0,8.0,5.0,7.0,12.0,13.0,13.0,11.0,5.0,10.0,10.0
171,Panama,"South America, Central America & the Caribbean",Americas,5.0,5.0,7.0,12.0,6.0,10.0,9.0,9.0,11.0,8.0,9.0,7.0,11.0,5.0,6.0
172,Paraguay,"South America, Central America & the Caribbean",Americas,5.0,6.0,6.0,18.0,5.0,8.0,10.0,13.0,5.0,8.0,11.0,5.0,8.0,9.0,6.0
173,Peru,"South America, Central America & the Caribbean",Americas,213.0,209.0,241.0,333.0,370.0,318.0,378.0,369.0,350.0,369.0,413.0,302.0,286.0,239.0,278.0
174,Puerto Rico,"South America, Central America & the Caribbean",Americas,5.0,5.0,5.0,5.0,7.0,5.0,5.0,8.0,6.0,5.0,7.0,7.0,5.0,5.0,9.0
175,"South America, nfd","South America, Central America & the Caribbean","South America, Central America & the Caribbean",0.0,0.0,0.0,0.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,St Kitts and Nevis,"South America, Central America & the Caribbean",Americas,5.0,0.0,0.0,5.0,5.0,5.0,5.0,0.0,5.0,0.0,5.0,0.0,5.0,5.0,0.0
177,St Lucia,"South America, Central America & the Caribbean",Americas,0.0,0.0,5.0,5.0,5.0,5.0,0.0,5.0,5.0,9.0,6.0,0.0,5.0,5.0,0.0
178,St Vincent and the Grenadines,"South America, Central America & the Caribbean",Americas,5.0,0.0,0.0,5.0,0.0,0.0,5.0,5.0,5.0,0.0,5.0,5.0,5.0,5.0,5.0
179,Suriname,"South America, Central America & the Caribbean",Americas,7.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,7.0,5.0,12.0,5.0,5.0,6.0,5.0
180,Trinidad and Tobago,"South America, Central America & the Caribbean",Americas,11.0,32.0,29.0,19.0,30.0,17.0,31.0,35.0,21.0,46.0,33.0,47.0,50.0,40.0,45.0
181,Uruguay,"South America, Central America & the Caribbean",Americas,68.0,75.0,76.0,72.0,44.0,53.0,36.0,34.0,32.0,51.0,28.0,38.0,28.0,21.0,26.0
182,"Venezuela, Bolivarian Republic of","South America, Central America & the Caribbean",Americas,78.0,89.0,141.0,220.0,176.0,285.0,292.0,400.0,295.0,342.0,327.0,250.0,292.0,286.0,314.0
183,"Virgin Islands, British","South America, Central America & the Caribbean",Americas,0.0,5.0,5.0,0.0,0.0,5.0,0.0,5.0,5.0,5.0,0.0,5.0,5.0,0.0,0.0
184,"Virgin Islands, United States","South America, Central America & the Caribbean",Americas,5.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0

In [149]:
migration_merged.loc[(migration_merged["country_group"] == 
                      'South America, Central America & the Caribbean'), 'continent'] = 'Americas'

### Set Africa as continent

In [151]:
migration_merged.loc[migration_merged['continent'].str.contains('Africa', case=False)]

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
75,Algeria,North Africa & the Middle East,North Africa and the Middle East,41.0,33.0,32.0,31.0,29.0,29.0,31.0,35.0,34.0,38.0,29.0,37.0,32.0,47.0,38.0
76,Bahrain,North Africa & the Middle East,North Africa and the Middle East,26.0,19.0,38.0,37.0,50.0,41.0,53.0,42.0,43.0,63.0,91.0,86.0,111.0,79.0,76.0
77,Egypt,North Africa & the Middle East,North Africa and the Middle East,646.0,819.0,957.0,913.0,871.0,757.0,895.0,960.0,918.0,961.0,1327.0,1292.0,1161.0,1170.0,1283.0
78,Gaza Strip and West Bank,North Africa & the Middle East,North Africa and the Middle East,9.0,22.0,14.0,6.0,16.0,7.0,10.0,8.0,5.0,5.0,5.0,5.0,5.0,5.0,10.0
79,Iran,North Africa & the Middle East,North Africa and the Middle East,927.0,936.0,1071.0,1019.0,1292.0,1381.0,2295.0,2030.0,2792.0,3299.0,3410.0,3711.0,4263.0,3122.0,3253.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,Uganda,Sub-Saharan Africa,Sub - Saharan Africa,84.0,113.0,206.0,177.0,297.0,171.0,143.0,194.0,173.0,80.0,98.0,138.0,133.0,127.0,109.0
233,Zambia,Sub-Saharan Africa,Sub - Saharan Africa,110.0,181.0,151.0,167.0,214.0,227.0,210.0,258.0,325.0,266.0,310.0,221.0,239.0,175.0,159.0
234,Zimbabwe,Sub-Saharan Africa,Sub - Saharan Africa,1508.0,2099.0,1702.0,1672.0,1664.0,1900.0,2241.0,2215.0,1880.0,1749.0,1553.0,1343.0,1171.0,1053.0,1056.0
239,South Sudan,Sub-Saharan Africa,North Africa and the Middle East,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,21.0,93.0,134.0,305.0,209.0,392.0
240,Equatorial Guinea,Sub-Saharan Africa,Sub - Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0

In [152]:
migration_merged.loc[(migration_merged["country_group"] == 
                      'Sub-Saharan Africa'), 'continent'] = 'Africa'

In [153]:
migration_merged.loc[migration_merged['continent'].str.contains('Africa', case=False)]

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
75,Algeria,North Africa & the Middle East,North Africa and the Middle East,41.0,33.0,32.0,31.0,29.0,29.0,31.0,35.0,34.0,38.0,29.0,37.0,32.0,47.0,38.0
76,Bahrain,North Africa & the Middle East,North Africa and the Middle East,26.0,19.0,38.0,37.0,50.0,41.0,53.0,42.0,43.0,63.0,91.0,86.0,111.0,79.0,76.0
77,Egypt,North Africa & the Middle East,North Africa and the Middle East,646.0,819.0,957.0,913.0,871.0,757.0,895.0,960.0,918.0,961.0,1327.0,1292.0,1161.0,1170.0,1283.0
78,Gaza Strip and West Bank,North Africa & the Middle East,North Africa and the Middle East,9.0,22.0,14.0,6.0,16.0,7.0,10.0,8.0,5.0,5.0,5.0,5.0,5.0,5.0,10.0
79,Iran,North Africa & the Middle East,North Africa and the Middle East,927.0,936.0,1071.0,1019.0,1292.0,1381.0,2295.0,2030.0,2792.0,3299.0,3410.0,3711.0,4263.0,3122.0,3253.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,Uganda,Sub-Saharan Africa,Africa,84.0,113.0,206.0,177.0,297.0,171.0,143.0,194.0,173.0,80.0,98.0,138.0,133.0,127.0,109.0
233,Zambia,Sub-Saharan Africa,Africa,110.0,181.0,151.0,167.0,214.0,227.0,210.0,258.0,325.0,266.0,310.0,221.0,239.0,175.0,159.0
234,Zimbabwe,Sub-Saharan Africa,Africa,1508.0,2099.0,1702.0,1672.0,1664.0,1900.0,2241.0,2215.0,1880.0,1749.0,1553.0,1343.0,1171.0,1053.0,1056.0
239,South Sudan,Sub-Saharan Africa,Africa,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,21.0,93.0,134.0,305.0,209.0,392.0
240,Equatorial Guinea,Sub-Saharan Africa,Africa,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0

- North Africa and the Middle East
    - SEPARATE:
    - North Africa (AFRICA): Algeria, Egypt, Libya, Morocco, Sudan, Tunisia, South Sudan
    - Middle East (ASIA): Bahrain, Egypt, Gza Strip and West Bank, Iran, Iraq, Israel, Jordan, Kuwait, Lebanon, Middle East, nfd, Oman, Qatar, Saudi Arabia, Syria, Turkey, United Arab Emirates, Yemen

In [160]:
migration_merged.loc[(migration_merged["country"] == 
                      'Algeria'), 'continent'] = 'Africa'
migration_merged.loc[(migration_merged["country"] == 
                      'Egypt'), 'continent'] = 'Africa'
migration_merged.loc[(migration_merged["country"] == 
                      'Libya'), 'continent'] = 'Africa'
migration_merged.loc[(migration_merged["country"] == 
                      'Morocco'), 'continent'] = 'Africa'
migration_merged.loc[(migration_merged["country"] == 
                      'Sudan'), 'continent'] = 'Africa'
migration_merged.loc[(migration_merged["country"] == 
                      'Tunisia'), 'continent'] = 'Africa'
migration_merged.loc[(migration_merged["country"] == 
                      'South Sudan'), 'continent'] = 'Africa'

In [161]:
migration_merged.loc[migration_merged['continent'].str.contains('Africa', case=False)]

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
75,Algeria,North Africa & the Middle East,Africa,41.0,33.0,32.0,31.0,29.0,29.0,31.0,35.0,34.0,38.0,29.0,37.0,32.0,47.0,38.0
76,Bahrain,North Africa & the Middle East,North Africa and the Middle East,26.0,19.0,38.0,37.0,50.0,41.0,53.0,42.0,43.0,63.0,91.0,86.0,111.0,79.0,76.0
77,Egypt,North Africa & the Middle East,Africa,646.0,819.0,957.0,913.0,871.0,757.0,895.0,960.0,918.0,961.0,1327.0,1292.0,1161.0,1170.0,1283.0
78,Gaza Strip and West Bank,North Africa & the Middle East,North Africa and the Middle East,9.0,22.0,14.0,6.0,16.0,7.0,10.0,8.0,5.0,5.0,5.0,5.0,5.0,5.0,10.0
79,Iran,North Africa & the Middle East,North Africa and the Middle East,927.0,936.0,1071.0,1019.0,1292.0,1381.0,2295.0,2030.0,2792.0,3299.0,3410.0,3711.0,4263.0,3122.0,3253.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,Uganda,Sub-Saharan Africa,Africa,84.0,113.0,206.0,177.0,297.0,171.0,143.0,194.0,173.0,80.0,98.0,138.0,133.0,127.0,109.0
233,Zambia,Sub-Saharan Africa,Africa,110.0,181.0,151.0,167.0,214.0,227.0,210.0,258.0,325.0,266.0,310.0,221.0,239.0,175.0,159.0
234,Zimbabwe,Sub-Saharan Africa,Africa,1508.0,2099.0,1702.0,1672.0,1664.0,1900.0,2241.0,2215.0,1880.0,1749.0,1553.0,1343.0,1171.0,1053.0,1056.0
239,South Sudan,Sub-Saharan Africa,Africa,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,21.0,93.0,134.0,305.0,209.0,392.0
240,Equatorial Guinea,Sub-Saharan Africa,Africa,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0

In [163]:
migration_merged.loc[migration_merged['country_group'].str.contains('North Africa', case=False)]

,country,country_group,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
75,Algeria,North Africa & the Middle East,Africa,41.0,33.0,32.0,31.0,29.0,29.0,31.0,35.0,34.0,38.0,29.0,37.0,32.0,47.0,38.0
76,Bahrain,North Africa & the Middle East,North Africa and the Middle East,26.0,19.0,38.0,37.0,50.0,41.0,53.0,42.0,43.0,63.0,91.0,86.0,111.0,79.0,76.0
77,Egypt,North Africa & the Middle East,Africa,646.0,819.0,957.0,913.0,871.0,757.0,895.0,960.0,918.0,961.0,1327.0,1292.0,1161.0,1170.0,1283.0
78,Gaza Strip and West Bank,North Africa & the Middle East,North Africa and the Middle East,9.0,22.0,14.0,6.0,16.0,7.0,10.0,8.0,5.0,5.0,5.0,5.0,5.0,5.0,10.0
79,Iran,North Africa & the Middle East,North Africa and the Middle East,927.0,936.0,1071.0,1019.0,1292.0,1381.0,2295.0,2030.0,2792.0,3299.0,3410.0,3711.0,4263.0,3122.0,3253.0
80,Iraq,North Africa & the Middle East,North Africa and the Middle East,2866.0,1956.0,2001.0,2500.0,2391.0,2575.0,4155.0,2589.0,3009.0,2158.0,3360.0,4147.0,3250.0,3164.0,9771.0
81,Israel,North Africa & the Middle East,North Africa and the Middle East,372.0,438.0,510.0,444.0,471.0,422.0,465.0,449.0,337.0,320.0,434.0,357.0,313.0,289.0,330.0
82,Jordan,North Africa & the Middle East,North Africa and the Middle East,203.0,241.0,284.0,230.0,181.0,201.0,285.0,251.0,214.0,258.0,265.0,312.0,309.0,370.0,486.0
83,Kuwait,North Africa & the Middle East,North Africa and the Middle East,149.0,120.0,108.0,156.0,158.0,176.0,179.0,172.0,215.0,218.0,226.0,248.0,315.0,319.0,357.0
84,Lebanon,North Africa & the Middle East,North Africa and the Middle East,1822.0,1476.0,1579.0,1462.0,1527.0,1687.0,1435.0,1182.0,1075.0,1478.0,1052.0,1163.0,1226.0,1061.0,1377.0
85,Libya,North Africa & the Middle East,Africa,21.0,30.0,24.0,28.0,32.0,32.0,42.0,41.0,29.0,66.0,46.0,50.0,51.0,58.0,66.0
86,"Middle East, nfd",North Africa & the Middle East,North Africa and the Middle East,31.0,39.0,69.0,40.0,33.0,43.0,6.0,8.0,9.0,5.0,5.0,5.0,7.0,5.0,10.0
87,Morocco,North Africa & the Middle East,Africa,49.0,58.0,53.0,61.0,64.0,71.0,64.0,52.0,88.0,61.0,109.0,97.0,106.0,89.0,95.0
88,"North Africa, nfd",North Africa & the Middle East,North Africa & the Middle East,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,Oman,North Africa & the Middle East,North Africa and the Middle East,15.0,15.0,27.0,38.0,34.0,51.0,59.0,38.0,39.0,41.0,55.0,78.0,101.0,82.0,96.0
90,Qatar,North Africa & the Middle East,North Africa and the Middle East,8.0,14.0,11.0,21.0,33.0,32.0,39.0,38.0,25.0,53.0,57.0,90.0,122.0,148.0,150.0
91,Saudi Arabia,North Africa & the Middle East,North Africa and the Middle East,73.0,64.0,115.0,97.0,110.0,146.0,262.0,265.0,242.0,269.0,245.0,365.0,490.0,514.0,586.0
92,Sudan,North Africa & the Middle East,Africa,2784.0,4604.0,5661.0,3798.0,2523.0,1030.0,949.0,724.0,685.0,511.0,461.0,377.0,352.0,293.0,285.0
93,Syria,North Africa & the Middle East,North Africa and the Middle East,249.0,242.0,261.0,263.0,271.0,254.0,327.0,224.0,293.0,321.0,266.0,977.0,2523.0,2095.0,8229.0
94,Tunisia,North Africa & the Middle East,Africa,27.0,7.0,5.0,13.0,12.0,13.0,8.0,17.0,15.0,24.0,29.0,32.0,25.0,28.0,25.0
95,Turkey,North Africa & the Middle East,North Africa and the Middle East,879.0,851.0,713.0,626.0,426.0,529.0,604.0,453.0,713.0,643.0,580.0,605.0,557.0,576.0,634.0
96,United Arab Emirates,North Africa & the Middle East,North Africa and the Middle East,212.0,178.0,252.0,267.0,296.0,333.0,376.0,353.0,345.0,434.0,495.0,684.0,916.0,884.0,943.0
97,Western Sahara,North Africa & the Middle East,North Africa & the Middle East,5.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Yemen,North Africa & the Middle East,North Africa and the Middle East,26.0,41.0,12.0,7.0,25.0,18.0,19.0,5.0,12.0,13.0,11.0,12.0,22.0,31.0,33.0

In [164]:
migration_merged.loc[(migration_merged["country_group"] == 
                      'North Africa & the Middle East') & 
                     (migration_merged["continent"] != 
                      'Africa'), 'continent'] = 'Asia'

In [248]:
migration_merged.loc[migration_merged['sub-region'].str.contains('North Africa', case=False)].head()

,country,sub-region,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
75,Algeria,North Africa & the Middle East,Africa,41.0,33.0,32.0,31.0,29.0,29.0,31.0,35.0,34.0,38.0,29.0,37.0,32.0,47.0,38.0
76,Bahrain,North Africa & the Middle East,Asia,26.0,19.0,38.0,37.0,50.0,41.0,53.0,42.0,43.0,63.0,91.0,86.0,111.0,79.0,76.0
77,Egypt,North Africa & the Middle East,Africa,646.0,819.0,957.0,913.0,871.0,757.0,895.0,960.0,918.0,961.0,1327.0,1292.0,1161.0,1170.0,1283.0
78,Gaza Strip and West Bank,North Africa & the Middle East,Asia,9.0,22.0,14.0,6.0,16.0,7.0,10.0,8.0,5.0,5.0,5.0,5.0,5.0,5.0,10.0
79,Iran,North Africa & the Middle East,Asia,927.0,936.0,1071.0,1019.0,1292.0,1381.0,2295.0,2030.0,2792.0,3299.0,3410.0,3711.0,4263.0,3122.0,3253.0

## Fix incorrect 'nfd' sub-region and continent allocations

In [250]:
migration_merged.loc[migration_merged['country'].str.contains('nfd', case=False)]

,country,sub-region,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
86,"Middle East, nfd",North Africa & the Middle East,Asia,31.0,39.0,69.0,40.0,33.0,43.0,6.0,8.0,9.0,5.0,5.0,5.0,7.0,5.0,10.0
88,"North Africa, nfd",North Africa & the Middle East,Asia,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Micronesia, nfd",Oceania,Oceania,0.0,0.0,5.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,"Caribbean, nfd","South America, Central America & the Caribbean",Americas,0.0,0.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
148,"Central America, nfd","South America, Central America & the Caribbean",Americas,5.0,5.0,0.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
175,"South America, nfd","South America, Central America & the Caribbean",Americas,0.0,0.0,0.0,0.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,"South-East Asia, nfd",South East Asia,Asia,0.0,0.0,0.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,"Eastern Europe, nfd",Southern and Eastern Europe,Europe,0.0,5.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,"Former Czechoslovakia, nfd",Southern and Eastern Europe,Europe,231.0,285.0,296.0,270.0,269.0,223.0,129.0,105.0,149.0,121.0,136.0,150.0,138.0,121.0,138.0
43,"Former Yugoslavia, nfd",Southern and Eastern Europe,Europe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
193,"Central and West Africa, nfd",Sub-Saharan Africa,Africa,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,"Southern and East Africa, nfd",Sub-Saharan Africa,Africa,5.0,5.0,0.0,0.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,"Europe, nfd",Supplementary Country Codes,Supplementary Country Codes,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,"Former USSR, nfd",Supplementary Country Codes,Supplementary Country Codes,984.0,876.0,804.0,859.0,660.0,720.0,163.0,156.0,165.0,211.0,262.0,338.0,358.0,293.0,276.0

- North Africa, nfd	North Africa & the Middle East	Asia 
    - change continent to Africa
- Europe, nfd	Supplementary Country Codes	Supplementary Country Codes 
    - can delete this row because no values and doesn't fit in a sub-region
- Former USSR, nfd	Supplementary Country Codes	Supplementary Country Codes
    - sub-region: Southern and Eastern Europe
    - continent: Europe

In [262]:
migration_merged.loc[(migration_merged["country"] == 
                      'North Africa, nfd '), 'continent'] = 'Africa'

In [253]:
remove = migration_merged.loc[migration_merged['country'] == 'Europe, nfd']
remove

,country,sub-region,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
235,"Europe, nfd",Supplementary Country Codes,Supplementary Country Codes,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [258]:
migration_merged = migration_merged[~(migration_merged['country'] == 'Europe, nfd')]

In [260]:
migration_merged.loc[(migration_merged['country'] == 'Former USSR, nfd')]

,country,sub-region,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
236,"Former USSR, nfd",Supplementary Country Codes,Supplementary Country Codes,984.0,876.0,804.0,859.0,660.0,720.0,163.0,156.0,165.0,211.0,262.0,338.0,358.0,293.0,276.0

In [264]:
migration_merged.loc[(migration_merged["country"] == 
                      'Former USSR, nfd'), 'continent'] = 'Europe'
migration_merged.loc[(migration_merged["country"] == 
                      'Former USSR, nfd'), 'sub-region'] = 'Southern and Eastern Europe'

check that it worked

In [266]:
migration_merged.loc[migration_merged['country'].str.contains('nfd', case=False)].head()

,country,sub-region,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
86,"Middle East, nfd",North Africa & the Middle East,Asia,31.0,39.0,69.0,40.0,33.0,43.0,6.0,8.0,9.0,5.0,5.0,5.0,7.0,5.0,10.0
88,"North Africa, nfd",North Africa & the Middle East,Africa,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Micronesia, nfd",Oceania,Oceania,0.0,0.0,5.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,"Caribbean, nfd","South America, Central America & the Caribbean",Americas,0.0,0.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
148,"Central America, nfd","South America, Central America & the Caribbean",Americas,5.0,5.0,0.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

### Rename 'Oceania & Antarctica' to simply 'Oceania' since there is no immigration from Antarctica

In [171]:
migration_merged.loc[(migration_merged["country_group"] == 
                      'Oceania & Antarctica'), 'country_group'] = 'Oceania'
migration_merged.loc[(migration_merged["continent"] == 
                      'Oceania & Antarctica'), 'continent'] = 'Oceania'

## Check result of data cleaning & export dataframe to csv

In [244]:
migration_merged = migration_merged.drop(columns=['Oceania & Antarctica'])

In [195]:
migration_merged = migration_merged.rename(
                    columns={'country_group': 'sub-region'})

In [270]:
migration_merged = migration_merged.sort_values(['sub-region', 'country'])

In [273]:
migration_merged = migration_merged.reset_index(drop=True)

In [274]:
migration_merged.head(30)

,country,sub-region,continent,2002–03,2003–04,2004–05,2005–06,2006–07,2007–08,2008–09,2009–10,2010–11,2011–12,2012–13,2013–14,2014–15,2015–16,2016–17
0,Afghanistan,Central Asia,Asia,982.0,1253.0,1557.0,2567.0,2285.0,1785.0,1578.0,1495.0,1860.0,1385.0,1770.0,4252.0,2817.0,2672.0,2944.0
1,Armenia,Central Asia,Asia,28.0,17.0,6.0,8.0,16.0,14.0,39.0,22.0,16.0,41.0,32.0,35.0,32.0,26.0,42.0
2,Azerbaijan,Central Asia,Asia,5.0,13.0,15.0,13.0,11.0,11.0,22.0,25.0,20.0,24.0,39.0,25.0,28.0,18.0,19.0
3,Georgia,Central Asia,Asia,11.0,5.0,8.0,5.0,13.0,10.0,20.0,29.0,14.0,23.0,26.0,29.0,26.0,18.0,16.0
4,Kazakhstan,Central Asia,Asia,29.0,48.0,40.0,50.0,46.0,67.0,110.0,83.0,79.0,109.0,114.0,99.0,101.0,117.0,119.0
5,Kyrgyzstan,Central Asia,Asia,23.0,29.0,25.0,24.0,20.0,26.0,27.0,25.0,24.0,13.0,30.0,26.0,20.0,27.0,33.0
6,Tajikistan,Central Asia,Asia,5.0,5.0,5.0,5.0,5.0,5.0,5.0,9.0,7.0,9.0,12.0,7.0,5.0,5.0,5.0
7,Turkmenistan,Central Asia,Asia,5.0,5.0,5.0,7.0,9.0,5.0,5.0,12.0,5.0,5.0,5.0,5.0,0.0,5.0,7.0
8,Uzbekistan,Central Asia,Asia,11.0,35.0,36.0,88.0,55.0,57.0,77.0,70.0,70.0,88.0,91.0,70.0,80.0,75.0,70.0
9,Algeria,North Africa & the Middle East,Africa,41.0,33.0,32.0,31.0,29.0,29.0,31.0,35.0,34.0,38.0,29.0,37.0,32.0,47.0,38.0
10,Bahrain,North Africa & the Middle East,Asia,26.0,19.0,38.0,37.0,50.0,41.0,53.0,42.0,43.0,63.0,91.0,86.0,111.0,79.0,76.0
11,Egypt,North Africa & the Middle East,Africa,646.0,819.0,957.0,913.0,871.0,757.0,895.0,960.0,918.0,961.0,1327.0,1292.0,1161.0,1170.0,1283.0
12,Gaza Strip and West Bank,North Africa & the Middle East,Asia,9.0,22.0,14.0,6.0,16.0,7.0,10.0,8.0,5.0,5.0,5.0,5.0,5.0,5.0,10.0
13,Iran,North Africa & the Middle East,Asia,927.0,936.0,1071.0,1019.0,1292.0,1381.0,2295.0,2030.0,2792.0,3299.0,3410.0,3711.0,4263.0,3122.0,3253.0
14,Iraq,North Africa & the Middle East,Asia,2866.0,1956.0,2001.0,2500.0,2391.0,2575.0,4155.0,2589.0,3009.0,2158.0,3360.0,4147.0,3250.0,3164.0,9771.0
15,Israel,North Africa & the Middle East,Asia,372.0,438.0,510.0,444.0,471.0,422.0,465.0,449.0,337.0,320.0,434.0,357.0,313.0,289.0,330.0
16,Jordan,North Africa & the Middle East,Asia,203.0,241.0,284.0,230.0,181.0,201.0,285.0,251.0,214.0,258.0,265.0,312.0,309.0,370.0,486.0
17,Kuwait,North Africa & the Middle East,Asia,149.0,120.0,108.0,156.0,158.0,176.0,179.0,172.0,215.0,218.0,226.0,248.0,315.0,319.0,357.0
18,Lebanon,North Africa & the Middle East,Asia,1822.0,1476.0,1579.0,1462.0,1527.0,1687.0,1435.0,1182.0,1075.0,1478.0,1052.0,1163.0,1226.0,1061.0,1377.0
19,Libya,North Africa & the Middle East,Africa,21.0,30.0,24.0,28.0,32.0,32.0,42.0,41.0,29.0,66.0,46.0,50.0,51.0,58.0,66.0
20,"Middle East, nfd",North Africa & the Middle East,Asia,31.0,39.0,69.0,40.0,33.0,43.0,6.0,8.0,9.0,5.0,5.0,5.0,7.0,5.0,10.0
21,Morocco,North Africa & the Middle East,Africa,49.0,58.0,53.0,61.0,64.0,71.0,64.0,52.0,88.0,61.0,109.0,97.0,106.0,89.0,95.0
22,"North Africa, nfd",North Africa & the Middle East,Africa,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Oman,North Africa & the Middle East,Asia,15.0,15.0,27.0,38.0,34.0,51.0,59.0,38.0,39.0,41.0,55.0,78.0,101.0,82.0,96.0
24,Qatar,North Africa & the Middle East,Asia,8.0,14.0,11.0,21.0,33.0,32.0,39.0,38.0,25.0,53.0,57.0,90.0,122.0,148.0,150.0
25,Saudi Arabia,North Africa & the Middle East,Asia,73.0,64.0,115.0,97.0,110.0,146.0,262.0,265.0,242.0,269.0,245.0,365.0,490.0,514.0,586.0
26,Sudan,North Africa & the Middle East,Africa,2784.0,4604.0,5661.0,3798.0,2523.0,1030.0,949.0,724.0,685.0,511.0,461.0,377.0,352.0,293.0,285.0
27,Syria,North Africa & the Middle East,Asia,249.0,242.0,261.0,263.0,271.0,254.0,327.0,224.0,293.0,321.0,266.0,977.0,2523.0,2095.0,8229.0
28,Tunisia,North Africa & the Middle East,Africa,27.0,7.0,5.0,13.0,12.0,13.0,8.0,17.0,15.0,24.0,29.0,32.0,25.0,28.0,25.0
29,Turkey,North Africa & the Middle East,Asia,879.0,851.0,713.0,626.0,426.0,529.0,604.0,453.0,713.0,643.0,580.0,605.0,557.0,576.0,634.0

In [269]:
migration_merged.shape

(240, 18)

In [235]:
migration_merged['continent'].unique()

array(['Asia', 'Africa', 'Europe', 'Americas', 'Oceania',
       'Supplementary Country Codes'], dtype=object)

In [223]:
migration_merged['sub-region'].unique()

array(['North Africa & the Middle East', 'Sub-Saharan Africa',
       'South America, Central America & the Caribbean',
       'Northern America', 'Central Asia', 'Southern Asia',
       'South East Asia', 'North East Asia',
       'Southern and Eastern Europe', 'North-West Europe', 'Oceania',
       'Supplementary Country Codes'], dtype=object)

In [224]:
migration_merged["continent"].isna().sum()

0

In [225]:
migration_merged["sub-region"].isna().sum()

0

In [275]:
migration_merged.to_csv('migration_merged_cleaned.csv', sep=',', index=False)